@import './source/global/global';

.cu-breadcrumb {
  --cu-current-link-color: var(--cu-color-text--light, #{$color-text--light});
}

.cu-breadcrumb__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.cu-breadcrumb__item {
  display: none;

  @include breakpoint(sm) {
    display: block;
  }

  &:last-child {
    display: block;
    -webkit-padding-start: 5px;

    &::before {
      content: var(--cu-breadcrumb-previous, '\27E8');

      @include breakpoint(sm) {
        content: none;
      }
    }
  }

  &::before {
    content: '';
  }

  &::after {
    content: var(--cu-breadcrumb-separator, '/');
    padding: 0 .4em;
    color: var(--cu-current-link-color);
  }

  &:last-child::after {
    display: none;
  }
}

.cu-breadcrumb__link {
  text-decoration: none;
}
