@import url("https://use.typekit.net/cal2bhk.css");
:root {
  --augmented-fourth: 1.414;
  --double-octave: 4;
  --fifth: 1.5;
  --fourth: 1.333;
  --golden: 1.618;
  --major-eleventh: 2.667;
  --major-second: 1.125;
  --major-seventh: 1.875;
  --major-sixth: 1.667;
  --major-tenth: 2.5;
  --major-third: 1.25;
  --major-twelfth: 3;
  --minor-second: 1.067;
  --minor-seventh: 1.778;
  --minor-sixth: 1.6;
  --minor-third: 1.2;
  --octave: 2;
  --phi: 1.618;
}

:root {
  --cu-ms-ratio: var(--major-second);
  --cu-ms0: var(--cu-base-font-size, 1rem);
  --cu-ms1: calc(var(--cu-ms-ratio) * var(--cu-ms0));
  --cu-ms2: calc(var(--cu-ms-ratio) * var(--cu-ms1));
  --cu-ms3: calc(var(--cu-ms-ratio) * var(--cu-ms2));
  --cu-ms4: calc(var(--cu-ms-ratio) * var(--cu-ms3));
  --cu-ms5: calc(var(--cu-ms-ratio) * var(--cu-ms4));
  --cu-ms6: calc(var(--cu-ms-ratio) * var(--cu-ms5));
  --cu-ms7: calc(var(--cu-ms-ratio) * var(--cu-ms6));
  --cu-ms8: calc(var(--cu-ms-ratio) * var(--cu-ms7));
  --cu-ms9: calc(var(--cu-ms-ratio) * var(--cu-ms8));
  --cu-ms10: calc(var(--cu-ms-ratio) * var(--cu-ms9));
  --cu-ms-1: calc(var(--cu-ms0) / var(--cu-ms-ratio));
  --cu-ms-2: calc(var(--cu-ms-1) / var(--cu-ms-ratio));
  --cu-ms-3: calc(var(--cu-ms-2) / var(--cu-ms-ratio));
  --cu-ms-4: calc(var(--cu-ms-3) / var(--cu-ms-ratio));
  --cu-ms-5: calc(var(--cu-ms-4) / var(--cu-ms-ratio));
}

:root {
  --cu-ps-ratio: var(--fifth);
  --cu-ps0: var(--cu-ps-base, 1em);
  --cu-ps1: calc(var(--cu-ps-ratio) * var(--cu-ps0));
  --cu-ps2: calc(var(--cu-ps-ratio) * var(--cu-ps1));
  --cu-ps3: calc(var(--cu-ps-ratio) * var(--cu-ps2));
  --cu-ps4: calc(var(--cu-ps-ratio) * var(--cu-ps3));
  --cu-ps5: calc(var(--cu-ps-ratio) * var(--cu-ps4));
  --cu-ps6: calc(var(--cu-ps-ratio) * var(--cu-ps5));
  --cu-ps7: calc(var(--cu-ps-ratio) * var(--cu-ps6));
  --cu-ps8: calc(var(--cu-ps-ratio) * var(--cu-ps7));
  --cu-ps9: calc(var(--cu-ps-ratio) * var(--cu-ps8));
  --cu-ps10: calc(var(--cu-ps-ratio) * var(--cu-ps9));
  --cu-ps-1: calc(var(--cu-ps0) / var(--cu-ps-ratio));
  --cu-ps-2: calc(var(--cu-ps-1) / var(--cu-ps-ratio));
  --cu-ps-3: calc(var(--cu-ps-2) / var(--cu-ps-ratio));
  --cu-ps-4: calc(var(--cu-ps-3) / var(--cu-ps-ratio));
  --cu-ps-5: calc(var(--cu-ps-4) / var(--cu-ps-ratio));
}

:root {
  --cu-vr-ratio: var(--golden);
  --cu-vr0: var(--cu-vr-base, 1rem);
  --cu-vr1: calc(var(--cu-vr-ratio) * var(--cu-vr0));
  --cu-vr2: calc(var(--cu-vr-ratio) * var(--cu-vr1));
  --cu-vr3: calc(var(--cu-vr-ratio) * var(--cu-vr2));
  --cu-vr4: calc(var(--cu-vr-ratio) * var(--cu-vr3));
  --cu-vr5: calc(var(--cu-vr-ratio) * var(--cu-vr4));
  --cu-vr6: calc(var(--cu-vr-ratio) * var(--cu-vr5));
  --cu-vr7: calc(var(--cu-vr-ratio) * var(--cu-vr6));
  --cu-vr8: calc(var(--cu-vr-ratio) * var(--cu-vr7));
  --cu-vr9: calc(var(--cu-vr-ratio) * var(--cu-vr8));
  --cu-vr10: calc(var(--cu-vr-ratio) * var(--cu-vr9));
  --cu-vr-1: calc(var(--cu-vr0) / var(--cu-vr-ratio));
  --cu-vr-2: calc(var(--cu-vr-1) / var(--cu-vr-ratio));
  --cu-vr-3: calc(var(--cu-vr-2) / var(--cu-vr-ratio));
  --cu-vr-4: calc(var(--cu-vr-3) / var(--cu-vr-ratio));
  --cu-vr-5: calc(var(--cu-vr-4) / var(--cu-vr-ratio));
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal;
}
.cu-section {
  max-width: var(--cu-max-width-section, 1060px);
  margin: var(--cu-vr3) auto;
}

.cu-section--wide {
  max-width: 100%;
}

.cu-text--2col {
  column-count: 2;
  column-gap: var(--cu-vr3);
}
.cu-layout--twocol {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--cu-grid-gap, var(--cu-vr3, 3rem));
}

@media (min-width: 64rem) {
  .cu-layout--twocol {
    grid-template-columns: 1fr 1fr;
  }
}
:root {
  --cu-grid-row-gap: var(--cu-vr0);
  --cu-grid-column-gap: var(--cu-vr0);
}

.cu-grid {
  display: grid;
  grid-auto-flow: dense;
  align-items: stretch;
  grid-gap: var(--cu-grid-row-gap) var(--cu-grid-column-gap);
  grid-template-columns: 1fr;
  max-width: var(--cu-max-width-section, 1060px);
  margin: 0 auto;
}

@media (min-width: 30rem) {
  .cu-grid--2col,
  .cu-grid--3col,
  .cu-grid--4col {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 37.5rem) {
  .cu-grid--gapless {
    grid-gap: 0;
  }

  .cu-grid--2col {
    grid-template-columns: 1fr 1fr;
  }

  .cu-grid--3col {
    grid-template-columns: repeat(3, 1fr);
  }

  .cu-grid--4col {
    grid-template-columns: repeat(4, 1fr);
  }

  .cu-grid--2-1 {
    grid-template-columns: 2fr 1fr;
  }

  .cu-grid--2-1-lead {
    grid-template-columns: repeat(6, 1fr);
  }

  .cu-grid--2-1-lead > * {
    grid-column-start: span 3;
  }

  .cu-grid--2-1-lead > *:first-child {
    grid-column: 1 / -3;
  }

  .cu-grid--2-1-lead > *:nth-child(2) {
    grid-column-start: span 2;
  }

  .cu-grid--3-1 {
    grid-template-columns: 3fr 1fr;
  }

  .cu-grid--1-2 {
    grid-template-columns: 1fr 2fr;
  }

  .cu-grid--1-3 {
    grid-template-columns: 1fr 3fr;
  }

  .cu-grid--3col-lead {
    grid-template-columns: repeat(3, 1fr);
  }

  .cu-grid--3col-lead :first-child {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }

  .cu-grid--4col-lead {
    grid-template-columns: repeat(4, 1fr);
  }

  .cu-grid--4col-lead :first-child {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }

  .cu-grid--align-end {
    align-items: end;
  }
}

.cu-grid .grid-item {
  margin: 0;
}
.cu-banner {
  position: relative;
  color: #fff;
  color: var(--cu-color-text--light, #fff);
}

/*=============================================
=            Announcement banner            =
=============================================*/

.cu-banner--announcement {
  padding: 1em 33% 1em 2em;
}

@media (min-width: 64rem) {
  .cu-banner--announcement {
    display: grid;
    grid-template-columns: 66% 34%;
    padding: 0;
  }
}

.cu-banner--announcement .cu-banner__header {
  margin-bottom: var(--cu-vr0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  --cu-current-font-size: var(--cu-text-xxl);
}

@media (min-width: 64rem) {
  .cu-banner--announcement .cu-banner__header {
    grid-column: 1;
    grid-row: 1;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--cu-vr1) var(--cu-ps2);
    margin: 0;
  }
}

.cu-banner--announcement .cu-banner__content {
  color: #fff;
  color: var(--cu-color-text--light, #fff);
}

@media (min-width: 64rem) {
  .cu-banner--announcement .cu-banner__content {
    background: var(--cu-color-bg--dark, #333);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--cu-vr1) var(--cu-ps2);
  }
}

.cu-banner--announcement .cu-button {
  align-self: flex-start;
}

.cu-banner--announcement .cu-banner__media {
  position: relative;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  max-width: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.cu-banner--announcement .cu-banner__media::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.cu-banner--announcement .cu-banner__media > :first-child {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 64rem) {
  .cu-banner--announcement .cu-banner__media {
    position: relative;
    grid-column: 1;
    grid-row: 1;
  }
}

/*=============================================
=            Page banner                      =
=============================================*/

.cu-banner--page {
  background: var(--cu-color-bg--dark, #333);
  padding: var(--cu-vr1);
}

@media (min-width: 37.5rem) {
  .cu-banner--page {
    padding: var(--cu-vr1) var(--cu-vr2);
  }
}

@media (min-width: 64rem) {
  .cu-banner--page {
    padding: var(--cu-vr1) var(--cu-vr4);
  }
}

.cu-banner--page .cu-breadcrumb {
  margin-bottom: var(--cu-vr1);
}

.cu-banner--page .cu-banner__content {
  max-width: var(--cu-max-width-section, 1060px);
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.cu-banner--page .cu-banner__summary {
  margin-bottom: var(--cu-vr2);
}

.cu-banner--page .cu-banner__list-heading {
  --cu-current-heading-size: var(--cu-ms0);
  --cu-current-font-weight: bold !important;
}

.cu-banner--page .cu-banner__list {
  --cu-current-font-size: var(--cu-ms-1);
  padding: 0;
  list-style-type: none;
}

.cu-banner--page .cu-banner__list-item {
  padding-bottom: var(--cu-vr-1);
  margin-bottom: var(--cu-vr-1);
  max-width: 75%;
  position: relative;
}

.cu-banner--page .cu-banner__list-item::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10%;
  max-width: 100%;
  padding: .25em 0 0 0;
  border-bottom: 4px solid var(--cu-color-brand, #b31b1b);
}

.cu-banner--page .cu-banner__media {
  position: relative;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  max-width: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cu-banner--page .cu-banner__media::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.cu-banner--page .cu-banner__media > :first-child {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*=====  End of Page banner  ======*/

/*=============================================
=            Video banner                     =
=============================================*/

.cu-banner--video .cu-banner__content {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--cu-vr1) var(--cu-ps1);
  z-index: 1;
}

.cu-banner--video .cu-banner__content > * {
  pointer-events: auto;
}

@media (min-width: 80rem) {
  .cu-banner--video .cu-banner__content {
    padding: var(--cu-vr1) var(--cu-ps3);
  }
}

.cu-banner--video .cu-banner__content--align-bottom {
  justify-content: flex-end;
}

/*=====  End of Video banner  ======*/
.cu-breadcrumb {
  --cu-current-link-color: var(--cu-color-text--light, #fff);
}

.cu-breadcrumb__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.cu-breadcrumb__item::after {
  content: var(--cu-breadcrumb-separator, "/");
  padding: 0 .4em;
  color: var(--cu-current-link-color);
}

.cu-breadcrumb__item:last-child::after {
  display: none;
}
.cu-button {
  --cu-current-link-color: black;
  border-radius: 2px;
  border: 4px solid #b31b1b;
  background: transparent;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cu-button--alt {
  --cu-current-link-color: black;
  border-radius: 2px;
  border: 4px solid #b31b1b;
  background: transparent;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  --cu-current-link-color: white;
  background: #b31b1b;
}

.cu-button--overlay {
  --cu-current-link-color: #fff;
  color: #fff;
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
.cu-course-finder {
  position: relative;
  z-index: 5;
  background: var(--cu-color-brand);
  color: var(--cu-color-text--light);
  padding: var(--cu-vr1) var(--cu-ps1);
  margin-bottom: var(--cu-vr1);
}

@media (min-width: 64rem) {
  .cu-course-finder {
    padding: var(--cu-vr2) var(--cu-ps3);
  }
}

.cu-course-finder__content {
  margin: 0 auto;
  max-width: var(--cu-max-width-section, 1060px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 64rem) {
  .cu-course-finder__content {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 64rem) {
  .cu-course-finder__content .cu-heading {
    margin: 0 var(--cu-vr2) 0 0;
  }
}

.cu-course-finder__topics-list {
  z-index: 10;
  position: relative;
  margin: 0 0 var(--cu-vr1) 0;
  background: white;
  height: 3rem;
  overflow: hidden;
}

.cu-course-finder__topics-list:hover {
  overflow: visible;
}

@media (min-width: 64rem) {
  .cu-course-finder__topics-list {
    margin: 0 var(--cu-ps1) 0 0;
  }
}

.cu-course-finder__topics-list.topics-list--expanded {
  overflow: visible;
}

.cu-course-finder__topics-list.topics-list--expanded .cu-course-finder__trigger {
  transform: rotate(180deg);
}

.cu-course-finder__topics-list .views-element-container > div {
  background: white;
  box-shadow: 0px 5px 16px 0 rgba(0, 0, 0, 0.05);
  display: grid;
}

@media (min-width: 64rem) {
  .cu-course-finder__topics-list .views-element-container > div {
    grid-template-columns: 1fr 1fr;
    width: 150%;
  }
}

.cu-course-finder__topics-list a {
  --cu-current-link-color: var(--cu-text-color);
  display: block;
  background: white;
  min-height: 3rem;
  padding: 1em;
  line-height: 1;
}

.cu-course-finder__topics-list a:hover {
  --cu-current-link-color: var(--cu-color-brand);
}

.cu-course-finder .cu-course-finder__label {
  display: block;
  line-height: 1;
  padding: var(--cu-vr0);
  color: #777;
}

.cu-course-finder .cu-course-finder__trigger {
  position: absolute;
  top: 0;
  right: 0;
  color: #777;
  border: none;
  background: transparent;
  min-height: 3rem;
  transition-duration: 0.25s;
  transition-property: transform;
}

@media (min-width: 64rem) {
  .cu-course-finder .cu-course-finder__trigger {
    display: none;
  }
}

.cu-course-finder .cu-course-finder__search {
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (min-width: 64rem) {
  .cu-course-finder .cu-course-finder__search {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.cu-course-finder .cu-course-finder__search input[type="text"] {
  margin-bottom: var(--cu-vr1);
}

@media (min-width: 64rem) {
  .cu-course-finder .cu-course-finder__search input[type="text"] {
    margin-bottom: 0;
  }
}

.cu-course-finder .cu-course-finder__search input[type="submit"] {
  --cu-current-link-color: black;
  border-radius: 2px;
  border: 4px solid #b31b1b;
  background: transparent;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 4px solid white;
  margin: 0;
  align-self: flex-start;
}

@media (min-width: 64rem) {
  .cu-course-finder .cu-course-finder__search input[type="submit"] {
    margin-left: var(--cu-ps1);
  }
}

.cu-course-finder .cu-course-finder__search__input {
  height: 3rem;
  padding: 0 var(--cu-ps1);
  border: none;
}
@charset "UTF-8";

.cu-course-teaser {
  --cu-current-link-color: var(--cu-text-color);
  background: #F5F5F5;
  padding: var(--cu-vr1) var(--cu-ps1);
}

.cu-course-teaser__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cu-course-teaser__label {
  --cu-current-heading-size: var(--cu-text-reg);
  --cu-current-font-weight: bold !important;
  order: 1;
  color: var(--cu-color-brand, #b31b1b);
}

.cu-course-teaser__title {
  order: 2;
}

.cu-course-teaser__description {
  order: 3;
}

.cu-course-teaser__details {
  order: 4;
  list-style-type: none;
  margin: 0 0 var(--cu-vr2);
  padding: 0 0 0 var(--cu-ps3);
}

.cu-course-teaser__detail {
  --cu-current-font-weight: bold;
  position: relative;
}

.cu-course-teaser__detail::before {
  content: '✓';
  font-weight: normal;
  font-size: var(--cu-ms2);
  color: var(--cu-color-brand, #b31b1b);
  position: absolute;
  left: -3rem;
  top: -5px;
}

.cu-course-teaser__more-link {
  --cu-current-font-weight: bold;
  color: var(--cu-color-brand, #b31b1b);
  order: 6;
  margin-bottom: var(--cu-vr2);
}

.cu-course-teaser__cta {
  order: 7;
  margin-top: auto;
}

.cu-grid.cu-certificate-courses {
  --cu-grid-column-gap: var(--cu-vr2);
}
.cu-card {
  background: var(--cu-card-background, transparent);
  border-radius: var(--cu-card-border-radius);
  display: flex;
  flex-direction: column;
  /*=============================================
  =            Modifiers            =
  =============================================*/
  /*----------  Promos  ----------*/
  /*----------  Promo with media and letterbox  ----------*/
  /*----------  Pinned ----------*/
  /*----------  Centered content  ----------*/
  /*----------  Icon  ----------*/
  /*----------  Hover Reveal  ----------*/
  /*----------  Hover Overlay  ----------*/
  /*----------  Portrait (2 rows tall)  ----------*/
  /*----------  Landscape (span all columns)  ----------*/
  /*----------  With aside  ----------*/
  /*=====  End of Modifiers  ======*/
}

.cu-card__content {
  order: 2;
  padding: var(--cu-card-content-padding);
}

.cu-card__media {
  order: 1;
  margin-bottom: var(--cu-vr0);
}

.cu-card__media .cu-image,
.cu-card__media .cu-video {
  width: 100%;
}

.cu-card__media .cu-card__media-link {
  display: block;
}

.cu-card__heading {
  --cu-current-font-size: var(--cu-text-xxl);
  --cu-current-line-height: var(--cu-heading-line-height);
  --cu-current-font-weight: var(--cu-heading-font-weight);
  --cu-font-family: var(--cu-heading-font-family);
}

.cu-card__subheading {
  --cu-current-font-size: var(--cu-text-reg);
  --cu-current-line-height: var(--cu-reduced-line-height, 1.2);
  --cu-current-font-weight: var(--cu-font-weight);
}

.cu-card--promo .cu-card__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--cu-vr1) var(--cu-ps1);
  text-align: center;
}

@media (min-width: 64rem) {
  .cu-card--promo .cu-card__content {
    padding: var(--cu-vr2) var(--cu-ps2);
  }
}

@media (min-width: 64rem) {
  .cu-card--promo .cu-card__content {
    padding: var(--cu-vr3) var(--cu-ps3);
  }
}

.cu-card--promo-with-media,
.cu-card--with-aside {
  position: relative;
  pointer-events: none;
}

.cu-card--promo-with-media::before,
.cu-card--with-aside::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.cu-card--promo-with-media .cu-card__media,
.cu-card--with-aside .cu-card__media {
  position: absolute;
  overflow: hidden;
  max-width: none;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cu-card--promo-with-media .cu-card__media > :first-child,
.cu-card--with-aside .cu-card__media > :first-child {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cu-card--promo-with-media .cu-card__content,
.cu-card--with-aside .cu-card__content {
  color: white;
  position: relative;
  z-index: 3;
  pointer-events: all;
}

.cu-card--promo-with-media .cu-card__fact-list,
.cu-card--with-aside .cu-card__fact-list {
  list-style-type: none;
  padding: 0;
}

@media (min-width: 64rem) {
  .cu-card--promo-with-media .cu-card__fact-list,
  .cu-card--with-aside .cu-card__fact-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}

.cu-card--promo-with-media .cu-card__fact,
.cu-card--with-aside .cu-card__fact {
  --cu-current-font-size: var(--cu-text-lg);
  padding: var(--cu-vr0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.cu-card--promo-with-media .cu-card__fact:last-child,
.cu-card--with-aside .cu-card__fact:last-child {
  border: none;
}

@media (min-width: 64rem) {
  .cu-card--promo-with-media .cu-card__fact,
  .cu-card--with-aside .cu-card__fact {
    border-bottom: none;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    padding: 0 var(--cu-vr2);
  }
}

.cu-card--promo-with-media .cu-card__fact-label,
.cu-card--with-aside .cu-card__fact-label {
  --cu-current-font-size: var(--cu-text-reg);
  --cu-current-font-weight: 300;
  display: block;
}

.cu-card--pinned .cu-card__content {
  justify-content: flex-end;
}

.cu-card--pinned .cu-card__content > :first-child {
  margin-bottom: auto;
}

.cu-card--centered .cu-card__content {
  text-align: center;
  justify-content: center;
  padding: var(--cu-vr1);
}

.cu-card--icon {
  padding: 0 var(--cu-ps-1);
  --cu-card-border-radius: 3px;
  flex-direction: row;
  align-items: center;
}

.cu-card--icon .cu-card__content {
  width: 100%;
}

.cu-card--hover-content-reveal .cu-card__hover-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height .25s ease, opacity .375s, margin-bottom .25s;
  opacity: 0;
  color: var(--cu-color-text, #222);
  --cu-current-font-weight: 300;
  padding: 0 var(--cu-ps2);
}

.cu-card--hover-content-reveal .cu-card__hover-content:last-child {
  margin-bottom: 0;
}

.cu-card--hover-content-reveal:hover .cu-card__hover-content {
  max-height: 500px;
  opacity: 1;
}

.cu-card--hover-content-reveal:hover .cu-card__hover-content:last-child {
  margin-bottom: 1em;
}

.cu-card--hover-overlay {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.cu-card--hover-overlay .cu-card__content,
.cu-card--hover-overlay .cu-card__media {
  grid-row: 1;
  grid-column: 1;
  color: white;
}

.cu-card--hover-overlay .cu-card__media {
  margin: 0;
  z-index: 1;
}

.cu-card--hover-overlay .cu-card__content {
  background: var(--cu-card-content-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cu-card--hover-overlay:hover .cu-card__content {
  z-index: 2;
}

.cu-card--portrait {
  position: relative;
  pointer-events: none;
  grid-row-start: span 2;
}

.cu-card--portrait::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  background: transparent;
  background-image: linear-gradient(to bottom, transparent 25%, rgba(0, 0, 0, 0.7) 100%);
}

@media (min-width: 64rem) {
  .cu-card--portrait::before {
    background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.7) 100%);
  }
}

.cu-card--portrait .cu-card__heading {
  padding-top: var(--cu-vr4);
}

.cu-card--landscape {
  grid-column: 1 / -1;
}

.cu-card--landscape .cu-card__content {
  --cu-card-content-padding: var(--cu-vr3) 25%;
}

.cu-card--landscape .cu-card__content--narrow {
  max-width: 50%;
  margin: 0 auto;
}

.cu-card--with-aside .cu-card__content {
  display: grid;
  grid-template-columns: 5% 57% 5% 28% 5%;
  padding: 25% 0 var(--cu-vr0);
}

.cu-card--with-aside .cu-card__content > * {
  grid-column: 2;
  grid-row: auto;
}

.cu-card--with-aside .cu-card__content > *:last-child {
  grid-column: 4;
  align-self: center;
  text-align: center;
}

.cu-card--with-aside .cu-heading--strong {
  font-size: var(--cu-text-lg);
}
.cu-dismissible {
  position: relative;
}

.cu-dismissible__close {
  position: absolute;
  top: 0.75em;
  right: 0.75em;
  border: 1px solid var(--cu-color-brand, #b31b1b);
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.35);
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 10;
}

.cu-dismissible__content {
  visibility: visible;
  opacity: 1;
}

.cu-dismissible--predismissed {
  display: none;
}

.cu-dismissible__input:checked + .cu-dismissible__close + .cu-dismissible__content {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.cu-dismissible__input:checked + .cu-dismissible__close {
  display: none;
}

.cu-dismissible__input {
  display: none;
}
.cu-feature-list__title {
  text-align: center;
}

.cu-feature-list__items {
  --cu-grid-column-gap: var(--cu-ps4);
  list-style-type: none;
  padding-left: var(--cu-vr2);
}

.cu-feature-list__item {
  position: relative;
}

.cu-feature-list__item--linked {
  --cu-header-accent-width: 15%;
  --cu-header-accent-padding: .25em 0 0 0;
  --cu-header-accent-border: 4px solid var(--cu-color-brand, #b31b1b);
}

.cu-feature-list__name {
  --cu-current-heading-size: var(--cu-text-reg);
  --cu-heading-font-weight: 400;
  margin-top: 0;
}

.cu-feature-list__description {
  --cu-current-font-size: var(--cu-ms-1);
  color: #6f6f6f;
}

.cu-feature-list__icon {
  --cu-current-text-color: #b31b1b;
  position: absolute;
  top: 0;
  left: calc(var(--cu-vr2) * -1);
}

.cu-feature-list__link {
  --cu-current-link-color: var(--cu-text-color);
}

p + .cu-feature-list {
  margin-top: var(--cu-vr1);
}

@media (min-width: 64rem) {
  p + .cu-feature-list {
    margin-top: var(--cu-vr2);
  }
}
/* ------------------------------------ *\
   Forms
\* ------------------------------------ */

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */

progress {
  vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

.cu-form summary {
  margin-bottom: 0.25rem;
}

.cu-fieldset {
  margin-bottom: 1rem;
  padding: 1rem 1rem 0.5rem;
}

.cu-input-list__item {
  padding: 0.2rem 0;
  margin-bottom: var(--cu-vr-2);
}

.cu-input-list__item--label-hidden label {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal;
}

.cu-input-list__item--radio {
  display: flex;
  padding: 0.2rem 0;
}

.cu-input-list__item--radio .cu-label {
  order: 2;
  margin-left: 1rem;
}

.cu-label {
  display: block;
  padding-bottom: 0.4rem;
  margin-left: 1px;
}

.cu-input-list__item--required .cu-label:after {
  content: '*';
  color: #b31b1b;
  font-weight: bold;
  font-size: 80%;
  top: -2px;
  opacity: 2;
  position: absolute;
}

.cu-input-list__item.has-float-label:not(.js-disabled) {
  display: block;
  position: relative;
}

.cu-input-list__item.has-float-label:not(.js-disabled) label {
  position: absolute;
  left: 0.5rem;
  top: calc(0.2rem * 2.5 + 0.4rem);
  cursor: text;
  transition: all .2s;
  z-index: 10;
  color: #888888;
  line-height: 1;
}

.cu-input-list__item.has-float-label:not(.js-disabled).is-active label,
.cu-input-list__item.has-float-label:not(.js-disabled).is-filled label {
  top: 6px;
  left: 3px;
  font-size: 75%;
}

.cu-input-list__item--radio.has-float-label:not(.js-disabled) label {
  line-height: 2;
}

.cu-input-list__item--select.has-float-label:not(.js-disabled) label {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal;
}

/*=============================================
=            Checkbuttons            =
=============================================*/

.cu-checkbutton__label {
  border: 2px solid #ccc;
  border-radius: 1px;
  padding-top: 0.25rem;
  display: flex;
  background: white;
  min-width: 200px;
  margin: 1rem 0;
}

.cu-checkbutton__label .cu-checkbutton__indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  order: 1;
  text-align: center;
  flex-basis: 25%;
  position: relative;
  color: #ccc;
}

.cu-checkbutton__label .cu-checkbutton__indicator:before {
  position: absolute;
  content: '';
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  border: 1px solid #222;
}

.cu-checkbutton__label .cu-checkbutton__content {
  order: 2;
  flex-basis: 75%;
  padding: var(--cu-ps-1) var(--cu-ps-1) var(--cu-ps-1) 0;
}

.cu-checkbutton__label .cu-checkbutton__content * {
  margin: 0;
}

.cu-checkbutton__label .cu-checkbutton__content .cu-button {
  margin-top: var(--cu-vr0);
}

.cu-checkbutton .cu-input:checked + .cu-checkbutton__label {
  border: 2px solid #b31b1b;
  box-shadow: 0px 0px 0px 3px #b31b1b;
}

.cu-checkbutton .cu-input:checked + .cu-checkbutton__label .cu-checkbutton__indicator:after {
  content: '';
  /*Make a small rectangle so the border will create an L-shape*/
  width: 9px;
  height: 18px;
  margin-top: -3px;
  /*Use a border to create an 'L' */
  border: solid #222;
  border-width: 0 2px 2px 0;
  /*Rotate the L 45 degrees to turn it into a checkmark*/
  transform: rotate(45deg);
}

/*=====  End of Checkbuttons  ======*/

.cu-input {
  padding: 0.4rem 0.5rem;
  margin-bottom: 0.5rem;
  /*----------  Invalid indicator  ----------*/
}

.cu-input--text,
.cu-input--tel,
.cu-input--email,
.cu-input--password,
.cu-input--select {
  width: 100%;
}

.cu-input--text,
.cu-input--tel,
.cu-input--email {
  border-radius: 3px;
  border: 1px solid #ccc;
}

.cu-input--submit {
  --cu-current-link-color: black;
  border-radius: 2px;
  border: 4px solid #b31b1b;
  background: transparent;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cu-input--submit--alt {
  --cu-current-link-color: black;
  border-radius: 2px;
  border: 4px solid #b31b1b;
  background: transparent;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  --cu-current-link-color: white;
  background: #b31b1b;
}

.cu-input--submit--light {
  --cu-current-link-color: black;
  border-radius: 2px;
  border: 4px solid #b31b1b;
  background: transparent;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 4px solid white;
}

.cu-input.required.is-touched:not(.is-filled),
.cu-input.required.is-invalid:not(.is-filled) {
  color: #b31b1b;
  border: 1px solid #b31b1b;
  background: #fef7f6;
}

.cu-input-message--invalid {
  color: #b31b1b;
  margin-left: 0.5rem;
}

/*=====  End of Invalid indicator  ======*/

/*=============================================
=            Float label inputs            =
=============================================*/

.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input--text,
.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input--tel,
.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input--email {
  padding: 1rem 0.5rem 0.2rem;
}

.cu-input-list__item.has-float-label:not(.js-disabled):not(.cu-input-list__item--select).is-filled .cu-input,
.cu-input-list__item.has-float-label:not(.js-disabled):not(.cu-input-list__item--select) .cu-input.is-focused:not(.is-filled) {
  transition: all 0.2s;
  padding: 1rem 0.5rem 0.2rem;
}

.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input::placeholder,
.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input--select::placeholder,
.cu-input-list__item.has-float-label:not(.js-disabled) textarea::placeholder {
  opacity: 1;
  transition: all .2s;
}

.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input:placeholder-shown:not(:focus)::placeholder,
.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input--select:placeholder-shown:not(:focus)::placeholder,
.cu-input-list__item.has-float-label:not(.js-disabled) textarea:placeholder-shown:not(:focus)::placeholder {
  opacity: 0;
}

/*=====  End of Float label inputs  ======*/

/*=============================================
=            Checkbuttons            =
=============================================*/

.cu-checkbutton .cu-input {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal;
}

/*=====  End of Checkbuttons  ======*/

.cu-form *,
.cu-form *:before,
.cu-form *:after {
  box-sizing: border-box;
}
.cu-highlight-box {
  max-width: var(--cu-max-width-section, 1060px);
  background: #F5F5F5;
  margin: var(--cu-vr1) auto;
  padding: var(--cu-vr1) var(--cu-ps3);
}

@media (min-width: 64rem) {
  .cu-highlight-box {
    padding: var(--cu-vr2) var(--cu-ps5);
    margin: var(--cu-vr3) auto;
  }
}

.highlighted .cu-highlight-box,
.cu-section--wide .cu-highlight-box {
  max-width: 100%;
  margin-top: 0;
}

.highlighted .cu-highlight-box .cu-highlight-box__content,
.cu-section--wide .cu-highlight-box .cu-highlight-box__content {
  max-width: var(--cu-max-width-section, 1060px);
  margin: 0 auto;
}

.highlighted .cu-highlight-box .cu-highlight-box__content .cu-heading,
.cu-section--wide .cu-highlight-box .cu-highlight-box__content .cu-heading {
  text-align: left;
}
.cu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--cu-vr0);
}

.cu-icon .cu-icon__image {
  fill: var(--cu-current-text-color);
  margin-bottom: var(--cu-vr-2);
}

.cu-icon .cu-icon__image--cornell-seal {
  min-width: 73px;
}

.cu-icon .cu-icon__label {
  margin-bottom: 0;
  color: var(--cu-current-text-color);
}

.cu-icon--inline {
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 0;
  padding: var(--cu-vr0) 0;
}

.cu-icon--inline .cu-icon__image {
  margin-right: var(--cu-ps0);
  margin-bottom: 0;
}

.cu-icon--inline-centered {
  flex-direction: row;
  justify-content: center;
  padding: var(--cu-vr0) 0 0;
}

.cu-icon--inline-centered .cu-icon__image {
  flex-shrink: 0;
  margin-right: var(--cu-ps0);
  margin-bottom: 0;
}

.cu-icon--inline-centered .cu-icon__label {
  white-space: pre-line;
}

.cu-icon--color-light {
  --cu-current-text-color: var(--cu-color-text--light);
}

/*=============================================
=            Specific icon overrides            =
=============================================*/

.cu-icon--color-brand .cu-icon__image {
  --cu-current-text-color: #b31b1b;
}

.cu-icon--cornell-seal .cu-icon__image {
  min-width: 73px;
}

.cu-icon--ilr-nickname .cu-icon__image {
  min-width: 70px;
}

.cu-icon--play {
  --cu-current-text-color: var(--cu-color-text--light);
  cursor: pointer;
}

.cu-icon--play > * {
  pointer-events: none;
}

.cu-icon--play .cu-icon__image {
  stroke: var(--cu-current-text-color);
}

/*=====  End of Specific icon overrides  ======*/
.cu-image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.cu-image--blurred {
  filter: blur(10px);
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cu-image--blurred::after {
  content: '';
  display: block;
  background-image: var(--cu-bg-image);
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0% 100%);
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0% 100%);
}
.cu-logo--union {
  max-width: 200px;
}
.cu-message-list__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cu-message {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  padding: var(--cu-ms-3) var(--cu-ms0);
  margin-bottom: var(--cu-vr0);
  background-color: var(--cu-color-info--light, #daf1f8);
  border-color: var(--cu-color-info, #5bc0de);
  color: var(--cu-color-info--dark, #1b6d85);
}

.cu-message--status {
  background-color: var(--cu-color-status--light, #e3f3e3);
  border-color: var(--cu-color-status, #5cb85c);
  color: var(--cu-color-status--dark, #357935);
}

.cu-message--warning {
  background-color: var(--cu-color-warning--light, #fff4d3);
  border-color: var(--cu-color-warning, #ffc107);
  color: var(--cu-color-warning--dark, #a07800);
}

.cu-message--error {
  background-color: var(--cu-color-error--light, #f7dad9);
  border-color: var(--cu-color-error, #d9534f);
  color: var(--cu-color-error--dark, #a02622);
}

.cu-message__text {
  margin: 0;
}
.cu-page-nav {
  margin-top: var(--cu-vr1);
  width: 100%;
}

.cu-heading--page-nav {
  --cu-current-heading-size: var(--cu-ms0);
  --cu-current-font-weight: bold !important;
}

.cu-page-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  --cu-current-link-color: var(--cu-color-text--light, #fff);
  --cu-header-accent-width: 40%;
  --cu-header-accent-padding: .25em 0 0 0;
  --cu-header-accent-border: 4px solid var(--cu-color-brand, #b31b1b);
}

.cu-page-nav__list .cu-heading {
  --cu-current-heading-size: var(--cu-ms1);
  max-width: 100%;
}

.cu-page-nav__item {
  margin-right: var(--cu-vr2);
}
.cu-person {
  --cu-current-font-weight: 300;
}

.cu-person--thumb {
  display: grid;
  grid-column-gap: var(--cu-vr0);
  grid-template-columns: 1fr 2fr;
}

.cu-person--thumb .cu-person__image {
  order: 1;
  grid-row: span 2;
  overflow: hidden;
}

.cu-person--thumb .cu-person__image .cu-image {
  border-radius: 50%;
}

.cu-person--thumb .cu-person__title {
  order: 2;
  grid-row: 1;
  grid-column: 2;
  margin: 0;
}

.cu-person--thumb .cu-person__name {
  --cu-current-font-size: var(--cu-text-xxl);
  order: 3;
  grid-row: 2;
  grid-column: 2;
  margin: 0 0 var(--cu-vr1);
}

.cu-person--thumb .cu-person__content {
  --cu-current-font-size: var(--cu-ms-1);
  order: 4;
  grid-column: 1 / -1;
}

.cu-grid--people {
  grid-column-gap: var(--cu-vr2);
  align-items: start;
}
.cu-registration-form {
  background: var(--cu-color-bg-light, #F5F5F5);
  padding: var(--cu-vr1) var(--cu-ps1);
}

.cu-registration-form__active-price {
  --cu-current-font-size: var(--cu-text-xxl);
  --cu-current-font-weight: var(--cu-heading-font-weight);
  margin: 0 auto var(--cu-vr1);
  max-width: var(--cu-max-width-section, 1060px);
}

.cu-registration-form__form {
  display: grid;
  margin: 0 auto;
  max-width: var(--cu-max-width-section, 1060px);
}

@media (min-width: 37.5rem) {
  .cu-registration-form__form {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
}

@media (min-width: 64rem) {
  .cu-registration-form__form {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cu-registration-form__form .cu-checkbutton__label {
    margin: 0;
  }

  .cu-registration-form__form .cu-input--submit--alt {
    margin-bottom: 0;
  }
}

.cu-registration-form__form .cu-input--submit--alt {
  margin-top: var(--cu-vr0);
}

@media (min-width: 37.5rem) {
  .cu-registration-form__form .cu-input--submit--alt {
    margin-top: 0;
  }
}

.cu-registration-form .cu-button {
  margin-bottom: 0;
}
.cu-section-heading {
  margin: var(--cu-vr3) 0 var(--cu-vr1);
  display: flex;
  flex-direction: column;
  /*=============================================
  =            Variations            =
  =============================================*/
  /*----------  Framed  ----------*/
  /*=====  End of Variations  ======*/
}

.cu-section-heading__heading {
  --cu-current-font-size: var(--cu-text-xl);
  --cu-current-font-weight: 300;
  margin-top: 0;
  order: 2;
}

.cu-section-heading__subheading {
  --cu-current-font-size: var(--cu-text-reg);
  order: 1;
  margin-bottom: 0;
}

.cu-section-heading__link {
  color: #b31b1b;
  font-weight: bold;
  font-size: var(--cu-ms-1);
}

.cu-section-heading--framed {
  position: relative;
  text-align: center;
  padding-top: calc(10px + 50px);
  /*----------  Framed right  ----------*/
}

.cu-section-heading--framed::before,
.cu-section-heading--framed::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
}

.cu-section-heading--framed::before {
  width: 120px;
  height: 10px;
}

.cu-section-heading--framed::after {
  width: 10px;
  height: 50px;
}

.cu-section-heading--framed.cu-section-heading--framed-right::before {
  left: calc(100% - 120px - 10px);
}

.cu-section-heading--framed.cu-section-heading--framed-right::after {
  left: calc(100% - 10px);
}
.cu-video {
  width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}
/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */

/* Document
   ========================================================================== */

/**
 * Use a better box model (opinionated).
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Use a more readable tab size (opinionated).
 */

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct height in Firefox.
 */

hr {
  height: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */

abbr[title] {
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */

progress {
  vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Chrome and Safari.
 */

summary {
  display: list-item;
}
:root {
  --cu-color-brand: #b31b1b;
}

body {
  color: var(--cu-color-text, #222);
  background-color: var(--cu-color-bg-body, #fff);
}

.cu-card {
  --cu-card-background: white;
}

.cu-card--icon {
  --cu-current-link-color: #222;
}

.cu-card--light {
  --cu-card-background: #fff !important;
}

.cu-card--promo {
  --cu-card-background: #efefef;
}

.cu-card--hover-overlay {
  --cu-card-content-background: rgba(179, 27, 27, 0.75);
}

.cu-card--icon .cu-heading {
  --cu-header-accent-width: 20%;
  --cu-header-accent-padding: .25em 0 0 0;
  --cu-header-accent-border: 4px solid var(--cu-color-brand, #b31b1b);
  --cu-current-font-size: var(--cu-text-med);
}
@font-face {
  font-family: "Replica";
  src: url("fonts/lineto-replica-pro-regular.woff2") format("woff2"), url("fonts/lineto-replica-pro-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Replica";
  src: url("fonts/lineto-replica-pro-italic.woff2") format("woff2"), url("fonts/lineto-replica-pro-italic.woff") format("woff");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Replica";
  src: url("fonts/lineto-replica-pro-bold.woff2") format("woff2"), url("fonts/lineto-replica-pro-bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Replica";
  src: url("fonts/lineto-replica-pro-bolditalic.woff2") format("woff2"), url("fonts/lineto-replica-pro-bolditalic.woff") format("woff");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Replica";
  src: url("fonts/lineto-replica-pro-light.woff2") format("woff2"), url("fonts/lineto-replica-pro-light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Replica";
  src: url("fonts/lineto-replica-pro-lightitalic.woff2") format("woff2"), url("fonts/lineto-replica-pro-lightitalic.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}

body {
  font-family: var(--cu-font-primary, "Replica"), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
:root {
  --cu-max-width-section: 1060px;
}
/*----------  CSS Variables  ----------*/

:root {
  --cu-font-family: var(--cu-base-font-family, Helvetica, Arial, sans-serif);
  --cu-font-weight: var(--cu-base-font-weight, 400);
  --cu-line-height: var(--cu-base-line-height, 1.4);
  --cu-font-weight: var(--cu-base-font-weight, 400);
  --cu-heading-font-weight: var(--cu-base-heading-font-weight, 300);
  --cu-heading-line-height: var(--cu-base-heading-line-height, 1.2);
  --cu-heading-font-family: var(--cu-base-heading-font-family, 'Replica');
  --cu-font-size-percentage: var(--cu-base-font-size-percentage, 100%);
  --cu-text-color: #222;
  --cu-color-text--light: #fff;
  --cu-current-text-color: #222;
  --cu-text-xxxl: var(--cu-ms6);
  --cu-text-xxl: var(--cu-ms5);
  --cu-text-xl: var(--cu-ms4);
  --cu-text-lg: var(--cu-ms3);
  --cu-text-med: var(--cu-ms2);
  --cu-text-reg: var(--cu-ms0);
}

@media (min-width: 64rem) {
  :root {
    --cu-font-size-percentage: 113%;
    --cu-ms-ratio: var(--minor-third);
    --cu-current-line-height: 1.6;
  }
}

html {
  font-size: var(--cu-font-size-percentage);
  line-height: var(--cu-line-height);
  font-weight: var(--cu-font-weight);
}

[class*='cu-'] {
  font-size: var(--cu-current-font-size, inherit);
  font-weight: var(--cu-current-font-weight, inherit);
  line-height: var(--cu-current-line-height, inherit);
  /*----------  Tag-based styles  ----------*/
}

[class*='cu-'] p {
  margin-top: 0;
}

[class*='cu-'] a {
  text-decoration: none;
  color: var(--cu-current-link-color, #b31b1b);
}

[class*='cu-'] a.underlined {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--cu-current-heading-size, inherit);
}

.cu-heading {
  --cu-current-line-height: var(--cu-heading-line-height, 1.2);
  --cu-current-font-weight: var(--cu-heading-font-weight);
  margin-top: 0;
  font-size: var(--cu-current-heading-size, inherit);
}

.cu-heading::after {
  content: '';
  display: block;
  width: var(--cu-header-accent-width);
  max-width: 100%;
  padding: var(--cu-header-accent-padding);
  border-bottom: var(--cu-header-accent-border);
  transition: width ease-in .25s;
}

.cu-heading:hover::after {
  width: var(--cu-header-accent-width-hover, calc(var(--cu-header-accent-width) * 2));
}

/*----------  Class-based sizing  ----------*/

[class*='cu-text'] {
  font-family: var(--cu-font-family);
  font-weight: var(--cu-font-weight);
  line-height: var(--cu-line-height);
  font-size: var(--font-size);
  margin-bottom: var(--cu-vr1);
}

[class*='cu-text--x'] {
  --cu-font-family: var(--cu-heading-font-family);
  --cu-font-weight: var(--cu-heading-font-weight);
  --cu-line-height: var(--cu-heading-line-height);
  --cu-font-size: var(--cu-current-heading-size);
  font-size: var(--cu-current-heading-size);
}

h1,
.cu-text--xxxl {
  --cu-current-heading-size: var(--cu-text-xxxl);
}

h2,
.cu-text--xxl {
  --cu-current-heading-size: var(--cu-text-xxl);
}

h3,
.cu-text--xl {
  --cu-current-heading-size: var(--cu-text-xl);
}

h4,
.cu-text--lg {
  --cu-current-heading-size: var(--cu-text-lg);
}

.cu-text--md {
  --cu-current-heading-size: var(--cu-text-med);
}

.cu-text--reg {
  font-size: var(--cu-base-font-size);
}

.cu-text--sm,
small {
  font-size: var(--cu-ms-1);
}

.cu-text--xs {
  font-size: var(--cu-ms-2);
}

.cu-heading--small {
  --cu-current-heading-size: var(--cu-ms-1);
  --cu-current-font-weight: bold !important;
}

.cu-heading--strong {
  font-family: 'futura-pt';
  text-transform: uppercase;
  font-size: var(--cu-ms3);
  --cu-current-line-height: 1;
}

@media (min-width: 37.5rem) {
  .cu-heading--strong {
    font-size: var(--cu-ms7);
    --cu-current-line-height: 1.6;
  }
}

.cu-heading--strong span {
  color: #b31b1b;
}

.cu-text .cu-heading {
  order: -1;
}

.cu-text .cu-heading--small {
  order: -2;
}

.cu-section-pad {
  border: none;
  height: var(--cu-vr3);
}

span.strong {
  font-weight: bold;
}

span.block {
  display: block;
}
@media (min-width: 37.5rem) {
  .demo__checkbuttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
}

@media (min-width: 64rem) {
  .demo__checkbuttons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.cu-logo--ilr-lockup {
  max-width: 350px;
}

.cu-logo--ilr-lockup img {
  max-width: 80%;
}

.cu-logo--ilr-wordmark {
  margin-bottom: var(--cu-vr2);
  width: 175px;
}

:root {
  --frame-width: 10px;
  --notchSize: calc(var(--frame-width) / 10);
}

@media (min-width: 37.5rem) {
  :root {
    --frame-width: 20px;
  }
}

.framed {
  display: grid;
  min-height: 90%;
}

.framed > *:first-child {
  position: relative;
  clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  display: grid;
  grid-column-gap: 2em;
  position: relative;
  height: 100%;
}

.framed > *:first-child::before {
  position: relative;
  clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  content: '';
  display: block;
  grid-row: 1;
  background: white;
  height: var(--frame-width);
}

.framed > *:last-child {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: fit-content(75%) auto;
  justify-items: start;
  align-content: end;
  margin-bottom: 0;
}

@media (min-width: 80rem) {
  .framed > *:last-child {
    grid-template-columns: fit-content(50%) auto;
  }
}

.framed > *:last-child > * {
  grid-column: 1;
}

.framed > *:last-child::after {
  position: relative;
  clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
  justify-self: stretch;
  align-self: end;
  content: '';
  display: block;
  bottom: 0;
  background: white;
  height: var(--frame-width);
}

.framed--left {
  border-left: var(--frame-width) solid white;
  grid-template-columns: 2rem fit-content(75%) auto;
}

.framed--left::before {
  grid-column-start: span 2;
  left: calc(var(--notchSize) * -1);
}

.framed--left > *:first-child {
  padding-top: 2rem;
}

.framed--left > * {
  grid-column: 2;
  display: grid;
}

.framed--left > *:last-child {
  grid-template-columns: 2rem fit-content(50%) auto;
}

.framed--left > *:last-child > * {
  grid-column: 2;
}

.framed--left > *:last-child::after {
  grid-column: 1 / 3;
  left: calc(var(--notchSize) * -1);
}

.framed--right {
  border-right: var(--frame-width) solid white;
}

.framed--right > * {
  max-width: 75%;
}

@media (min-width: 37.5rem) {
  .framed--right > * {
    max-width: 60%;
  }
}

@media (min-width: 64rem) {
  .framed--right > * {
    max-width: 50%;
  }
}

.framed--right > *:first-child {
  grid-template-columns: fit-content(90%) 1fr;
  margin-right: -2px;
  max-width: 100%;
}

@media (min-width: 37.5rem) {
  .framed--right > *:first-child {
    grid-template-columns: fit-content(75%) 1fr;
  }
}

.framed--right > *:first-child::before {
  grid-column: 2;
  right: calc(var(--notchSize) * -1);
}

.framed--right > *:last-child {
  max-width: 100%;
}

.framed--right > *:last-child::after {
  right: calc(var(--notchSize) * -1);
}
.cu-header {
  display: flex;
  align-items: center;
  padding-top: var(--cu-vr1);
  margin-bottom: var(--cu-vr1);
  border-bottom: 1px solid var(--cu-color-border, #ccc);
}

.cu-header .cu-logo {
  padding-bottom: var(--cu-vr1);
}

/* Nav Trigger */

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

@media (min-width: 64rem) {
  .nav-trigger {
    display: none;
  }
}

label[for="nav-trigger"] {
  position: absolute;
  right: var(--cu-vr1);
  top: 30px;
  z-index: 2;
  cursor: pointer;
}

@media (min-width: 64rem) {
  label[for="nav-trigger"] {
    display: none;
  }
}

label[for="nav-trigger"] .cu-accessible {
  display: none;
}

label[for="nav-trigger"]::before {
  content: "\2630";
  font-size: var(--cu-ms4);
}

.nav-trigger:checked ~ .cu-menu__list {
  display: flex;
}

.nav-trigger:checked ~ label[for="nav-trigger"] span {
  display: none;
}

.nav-trigger:checked ~ label[for="nav-trigger"]::before {
  content: "\2573";
}

.cu-menu--main {
  flex-grow: 1;
  align-self: flex-end;
}

.cu-menu__list {
  --cu-current-link-color: var(--cu-current-text-color);
  --cu-current-font-size: var(--cu-ms-1);
  background: white;
  list-style-type: none;
  margin: 0;
  padding: var(--cu-vr1);
  display: none;
  flex-direction: column;
  position: absolute;
  top: 80px;
  width: 92vw;
  left: 4vw;
  box-shadow: 0px 0px 26px -3px rgba(0, 0, 0, 0.37);
  z-index: 10;
  flex-grow: 1;
}

@media (min-width: 64rem) {
  .cu-menu__list {
    background: none;
    box-shadow: none;
    padding: 0;
    left: 0;
    top: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
  }
}

@media (min-width: 64rem) {
  .cu-menu__item--active {
    border-bottom: 2px solid black;
  }
}

.cu-menu__link {
  display: block;
  padding: var(--cu-vr0) 0;
}

@media (min-width: 64rem) {
  .cu-menu__link {
    padding: 0 0 var(--cu-vr2);
  }
}