@mixin cu-button--dark {
  @include cu-button;

  color: white;
  background: $cornell-red;
}

@mixin cu-button($size: 'auto') {
  color: $cornell-red;
  border-radius: 2px;
  border: 4px solid $cornell-red;
  background: transparent;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: auto;

  @if $size=='full' {
    width: 100%;
  }
}

@mixin cu-button--overlay() {
  color: $white;
  --cu-current-link-color: $white;
  border-color: $white;
  background-color: rgba(0, 0, 0, 0.3);
}
