// Global mixins - distinct from component mixins

//*----------------------------------*\
//  #TOOLS - VISUALLY HIDDEN
//\*----------------------------------*/

/// Visually hidden - Make an element visually hidden, but accessible to screen readers, etc.
/// @author John Albin
/// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
/// @link https://github.com/JohnAlbin/zen-style-guide/blob/gh-pages/sass/init/visually-hidden/_visually-hidden.scss
/// @group Tools
/// @example scss - basic usage
///   .centered {
///     @include visually-hidden();
///   }
/// @output Output from the example
///   .centered {
///     position: absolute !important;
///     height: 1px;
///     width: 1px;
///     overflow: hidden;
///     clip: rect(1px, 1px, 1px, 1px);
///     word-wrap: normal;
///   }

@mixin visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal;
}

@mixin overlay($color: #555, $opacity: 0.5, $z-index: 2) {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color, $opacity);
    z-index: $z-index;
  }
}

@mixin p-text() {
  font-size: var(--cu-ms0);
  margin-bottom: var(--cu-vr0);
  font-weight: 400;
}
