// Variables

// Colors
$black: #222; // ILR Brand black
$white: #fff;
$cornell-red: #b31b1b;

// Color usage
$color-text: $black;
$color-bg-body: $white;
$color-alert: $cornell-red;
$color-border: #ccc;

// Color status indictors
$color-info: #5bc0de !default;
$color-info--dark: darken($color-info, 30%) !default;
$color-info--light: lighten($color-info, 30%) !default;
$color-status: #5cb85c !default;
$color-status--dark: darken($color-status, 20%) !default;
$color-status--light: lighten($color-status, 38%) !default;
$color-warning: #ffc107 !default;
$color-warning--dark: darken($color-warning, 20%) !default;
$color-warning--light: lighten($color-warning, 40%) !default;
$color-error: #d9534f !default;
$color-error--dark: darken($color-error, 20%) !default;
$color-error--light: lighten($color-error, 33%) !default;
// Fonts
$font-family-base: san-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, monospace;
$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.15;

$dt-font-weight: 700;
$font-weight-bolder: 800;

// Spacing
$headings-margin-bottom: 0.5rem;
$paragraph-margin-bottom: 1rem;

// Links
$color-link: $cornell-red;
$link-decoration: none;
$color-link-hover: lighten($cornell-red, 0.1);
$link-hover-decoration: underline;

// Tables
$table-cell-padding: 0.75rem;
$color-table-caption: $black;
$label-margin-bottom: 0.5rem;

// Typography and rhythm
$base-font-size: 125% !default;
$base-line-height: 1.4 !default;
