.cu-banner {
  position: relative;
  color: #fff;
  color: var(--cu-color-text--light, #fff); }

/*=============================================
=            Announcement banner            =
=============================================*/
.cu-banner--announcement {
  padding: 1em 33% 1em 2em; }
  @media (min-width: 64rem) {
    .cu-banner--announcement {
      display: grid;
      grid-template-columns: 66% 34%;
      padding: 0; } }
  .cu-banner--announcement .cu-banner__header {
    margin-bottom: var(--cu-vr0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    --cu-current-font-size: var(--cu-text-xxl); }
    @media (min-width: 64rem) {
      .cu-banner--announcement .cu-banner__header {
        grid-column: 1;
        grid-row: 1;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--cu-vr1) var(--cu-ps2);
        margin: 0; } }
  .cu-banner--announcement .cu-banner__content {
    color: #fff;
    color: var(--cu-color-text--light, #fff); }
    @media (min-width: 64rem) {
      .cu-banner--announcement .cu-banner__content {
        background: var(--cu-color-bg--dark, #333);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--cu-vr1) var(--cu-ps2); } }
  .cu-banner--announcement .cu-button {
    align-self: flex-start; }
  .cu-banner--announcement .cu-banner__media {
    position: relative;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    max-width: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; }
    .cu-banner--announcement .cu-banner__media::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 2; }
    .cu-banner--announcement .cu-banner__media > :first-child {
      object-fit: cover;
      width: 100%;
      height: 100%; }
    @media (min-width: 64rem) {
      .cu-banner--announcement .cu-banner__media {
        position: relative;
        grid-column: 1;
        grid-row: 1; } }

/*=============================================
=            Page banner                      =
=============================================*/
.cu-banner--page {
  background: var(--cu-color-bg--dark, #333);
  padding: var(--cu-vr1);
  margin-bottom: var(--cu-vr3); }
  @media (min-width: 37.5rem) {
    .cu-banner--page {
      padding: var(--cu-vr1) var(--cu-vr2); } }
  @media (min-width: 64rem) {
    .cu-banner--page {
      padding: var(--cu-vr1) var(--cu-vr4); } }
  .cu-banner--page .cu-breadcrumb {
    margin-bottom: var(--cu-vr1); }
  .cu-banner--page .cu-banner__content {
    max-width: var(--cu-max-width-section, 1060px);
    margin: 0 auto; }
    .cu-banner--page .cu-banner__content .cu-heading, .cu-banner--page .cu-banner__content p {
      max-width: 75%; }
      @media (min-width: 64rem) {
        .cu-banner--page .cu-banner__content .cu-heading, .cu-banner--page .cu-banner__content p {
          max-width: 60%; } }
  .cu-banner--page .cu-banner__summary {
    margin-bottom: var(--cu-vr2); }

/*=====  End of Page banner  ======*/
/*=============================================
=            Video banner                     =
=============================================*/
.cu-banner--video .cu-banner__content {
  position: absolute;
  pointer-events: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--cu-vr1) var(--cu-ps1); }
  .cu-banner--video .cu-banner__content > * {
    pointer-events: auto; }
  @media (min-width: 37.5rem) {
    .cu-banner--video .cu-banner__content {
      height: 100%; } }
  @media (min-width: 80rem) {
    .cu-banner--video .cu-banner__content {
      padding: var(--cu-vr1) var(--cu-ps3); } }
  .cu-banner--video .cu-banner__content--align-bottom {
    justify-content: flex-end; }

/*=====  End of Video banner  ======*/
/*# sourceMappingURL=banner.css.map */
