@import './source/global/global';

.cu-banner {
  position: relative;
  color: $color-text--light;
  color: var(--cu-color-text--light, #{$color-text--light});
}

/*=============================================
=            Announcement banner            =
=============================================*/
.cu-banner--announcement {
  padding: 1em 33% 1em 2em;

  @include breakpoint(md) {
    display: grid;
    grid-template-columns: 66% 34%;
    padding: 0;
  }

  .cu-banner__header {
    margin-bottom: var(--cu-vr0);
    border-bottom: 1px solid rgba(white, 0.3);
    --cu-current-font-size: var(--cu-text-xxl);

    @include breakpoint(md) {
      grid-column: 1;
      grid-row: 1;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--cu-vr1) var(--cu-ps2);
      margin: 0;
    }
  }

  .cu-banner__content {
    color: $color-text--light;
    color: var(--cu-color-text--light, #{$color-text--light});

    @include breakpoint(md) {
      background: var(--cu-color-bg--dark, #{$color-bg--dark});
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: var(--cu-vr1) var(--cu-ps2);
    }
  }

  .cu-button {
    align-self: flex-start;
  }

  .cu-banner__media {
    @include overlay;
    position: absolute;
    overflow: hidden;
    max-width: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;

    > :first-child {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    @include breakpoint(md) {
      position: relative;
      grid-column: 1;
      grid-row: 1;
    }
  }
}

/*=============================================
=            Page banner                      =
=============================================*/
.cu-banner--page {
  background: var(--cu-color-bg--dark, #{$color-bg--dark});
  padding: var(--cu-vr1);

  @include breakpoint(sm) {
    padding: var(--cu-vr1) var(--cu-vr2);
  }

  @include breakpoint(md) {
    padding: var(--cu-vr1) var(--cu-vr4);
  }

  .cu-breadcrumb {
    margin-bottom: var(--cu-vr1);
  }

  .cu-banner__content {
    max-width: var(--cu-max-width-section, #{$max-width-section});
    margin: 0 auto;
  }

  .cu-heading,
  p {
    max-width: 75%;

    @include breakpoint(md) {
      max-width: 60%;
    }
  }

  .cu-banner__summary {
    margin-bottom: var(--cu-vr2);
  }

  .cu-banner__list-heading {
    --cu-current-heading-size: var(--cu-ms0);
    --cu-current-font-weight: bold !important;
  }

  .cu-banner__list {
    padding: 0;
    --cu-current-font-size: var(--cu-ms-1);
  }

  .cu-banner__list-item {
    padding-bottom: var(--cu-vr-1);
    margin-bottom: var(--cu-vr-1);
    max-width: 75%;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 10%;
      max-width: 100%;
      padding: .25em 0 0 0;
      border-bottom: 4px solid var(--cu-color-brand, #{$cornell-red});
    }
  }
}

/*=====  End of Page banner  ======*/


/*=============================================
=            Video banner                     =
=============================================*/
.cu-banner--video {
  .cu-banner__content {
    position: absolute;
    pointer-events: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--cu-vr1) var(--cu-ps1);

    > * {
      pointer-events: auto;
    }

    @include breakpoint(sm) {
      height: 100%;
    }

    @include breakpoint(lg) {
      padding: var(--cu-vr1) var(--cu-ps3);
    }

    &--align-bottom {
      justify-content: flex-end;
    }
  }
}
/*=====  End of Video banner  ======*/
