@import './source/global/global';

.cu-registration-form {
  background: var(--cu-color-bg-light, #{$color-bg--lightest});
  padding: var(--cu-vr1) var(--cu-ps1);

  &__active-price {
    --cu-current-font-size: var(--cu-text-xxl);
    --cu-current-font-weight: var(--cu-heading-font-weight);
    margin: 0 auto var(--cu-vr1);
    max-width: var(--cu-max-width-section, #{$max-width-section});
  }

  &__form {
    display: grid;
    margin: 0 auto;
    max-width: var(--cu-max-width-section, #{$max-width-section});

    @include breakpoint(sm) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 2em;
    }

    @include breakpoint(md) {
      grid-template-columns: 1fr 1fr 1fr;

      .cu-checkbutton__label {
        margin: 0;
      }

      .cu-input--submit--alt {
        margin-bottom: 0;
      }
    }

    .cu-input--submit--alt {
      margin-top: var(--cu-vr0);

      @include breakpoint(sm) {
        margin-top: 0;
      }
    }
  }
}
