/* ------------------------------------ *\
   Forms
\* ------------------------------------ */
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */
legend {
  padding: 0; }

/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline; }

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

.cu-form summary {
  margin-bottom: 0.25rem; }

.cu-fieldset {
  margin-bottom: 1rem;
  padding: 1rem 1rem 0.5rem; }

.cu-input-list__item {
  padding: 0.2rem 0;
  margin-bottom: var(--cu-vr-2); }
  .cu-input-list__item--label-hidden label {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal; }
  .cu-input-list__item--radio {
    display: flex;
    padding: 0.2rem 0; }
    .cu-input-list__item--radio .cu-label {
      order: 2;
      margin-left: 1rem; }

.cu-label {
  display: block;
  padding-bottom: 0.4rem;
  margin-left: 1px; }
  .cu-input-list__item--required .cu-label:after {
    content: '*';
    color: #b31b1b;
    font-weight: bold;
    font-size: 80%;
    top: -2px;
    opacity: 2;
    position: absolute; }

.cu-input-list__item.has-float-label:not(.js-disabled) {
  display: block;
  position: relative; }
  .cu-input-list__item.has-float-label:not(.js-disabled) label {
    position: absolute;
    left: 0.5rem;
    top: calc(0.2rem * 2.5 + 0.4rem);
    cursor: text;
    transition: all .2s;
    z-index: 10;
    color: #888888;
    line-height: 1; }
  .cu-input-list__item.has-float-label:not(.js-disabled).is-active label, .cu-input-list__item.has-float-label:not(.js-disabled).is-filled label {
    top: 6px;
    left: 3px;
    font-size: 75%; }

.cu-input-list__item--radio.has-float-label:not(.js-disabled) label {
  line-height: 2; }

.cu-input-list__item--select.has-float-label:not(.js-disabled) label {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal; }

/*=============================================
=            Checkbuttons            =
=============================================*/
.cu-checkbutton__label {
  border: 2px solid #ccc;
  border-radius: 1px;
  padding-top: 0.25rem;
  display: flex;
  background: white;
  min-width: 200px;
  margin: 1rem 0; }
  .cu-checkbutton__label .cu-checkbutton__indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    order: 1;
    text-align: center;
    flex-basis: 25%;
    position: relative;
    color: #ccc; }
    .cu-checkbutton__label .cu-checkbutton__indicator:before {
      position: absolute;
      content: '';
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
      border: 1px solid #222; }
  .cu-checkbutton__label .cu-checkbutton__content {
    order: 2;
    flex-basis: 75%;
    padding: var(--cu-ps-1) 0; }
    .cu-checkbutton__label .cu-checkbutton__content * {
      margin: 0; }

.cu-checkbutton .cu-input:checked + .cu-checkbutton__label {
  border: 2px solid #b31b1b;
  box-shadow: 0px 0px 0px 3px #b31b1b; }
  .cu-checkbutton .cu-input:checked + .cu-checkbutton__label .cu-checkbutton__indicator:after {
    content: '';
    /*Make a small rectangle so the border will create an L-shape*/
    width: 9px;
    height: 18px;
    margin-top: -3px;
    /*Use a border to create an 'L' */
    border: solid #222;
    border-width: 0 2px 2px 0;
    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg); }

/*=====  End of Checkbuttons  ======*/
.cu-input {
  padding: 0.4rem 0.5rem;
  margin-bottom: 0.5rem;
  /*----------  Invalid indicator  ----------*/ }
  .cu-input--text, .cu-input--tel, .cu-input--email, .cu-input--password, .cu-input--select {
    width: 100%; }
  .cu-input--text, .cu-input--tel, .cu-input--email {
    border-radius: 3px;
    border: 1px solid #ccc; }
  .cu-input--submit {
    --cu-current-link-color: black;
    border-radius: 2px;
    border: 4px solid #b31b1b;
    background: transparent;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: auto; }
    .cu-input--submit--alt {
      --cu-current-link-color: black;
      border-radius: 2px;
      border: 4px solid #b31b1b;
      background: transparent;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      width: auto;
      color: white;
      background: #b31b1b; }
  .cu-input.required.is-touched:not(.is-filled), .cu-input.required.is-invalid:not(.is-filled) {
    color: #b31b1b;
    border: 1px solid #b31b1b;
    background: #fef7f6; }

.cu-input-message--invalid {
  color: #b31b1b;
  margin-left: 0.5rem; }

/*=====  End of Invalid indicator  ======*/
/*=============================================
=            Float label inputs            =
=============================================*/
.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input--text,
.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input--tel,
.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input--email {
  padding: 1rem 0.5rem 0.2rem; }

.cu-input-list__item.has-float-label:not(.js-disabled):not(.cu-input-list__item--select).is-filled .cu-input,
.cu-input-list__item.has-float-label:not(.js-disabled):not(.cu-input-list__item--select) .cu-input.is-focused:not(.is-filled) {
  transition: all 0.2s;
  padding: 1rem 0.5rem 0.2rem; }

.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input::placeholder,
.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input--select::placeholder,
.cu-input-list__item.has-float-label:not(.js-disabled) textarea::placeholder {
  opacity: 1;
  transition: all .2s; }

.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input:placeholder-shown:not(:focus)::placeholder,
.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input--select:placeholder-shown:not(:focus)::placeholder,
.cu-input-list__item.has-float-label:not(.js-disabled) textarea:placeholder-shown:not(:focus)::placeholder {
  opacity: 0; }

/*=====  End of Float label inputs  ======*/
/*=============================================
=            Checkbuttons            =
=============================================*/
.cu-checkbutton .cu-input {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal; }

/*=====  End of Checkbuttons  ======*/
.cu-form *,
.cu-form *:before,
.cu-form *:after {
  box-sizing: border-box; }
/*# sourceMappingURL=form.css.map */
