@import './source/global/global';

:root {
  --cu-current-font-family: var(--cu-base-font-family, #{$base-font-family});
  --cu-current-font-weight: var(--cu-base-font-weight, #{$base-font-weight});
  --cu-current-line-height: var(--cu-base-line-height, #{$base-line-height});
  --cu-current-font-size: var(--cu-base-font-size, #{$base-font-size});
  --cu-heading-font-weight: var(--cu-base-heading-font-weight, #{#{$base-heading-font-weight}});
  --cu-heading-font-family: var(--cu-base-heading-font-family, #{#{$base-heading-font-family}});
  --cu-heading-line-height: var(--cu-base-heading-line-height, #{$base-heading-line-height});
  --cu-font-size-percentage: var(--cu-base-font-size-percentage, #{$base-font-size-percentage});
  --cu-text-xxxl: var(--cu-ms5);
  --cu-text-xxl: var(--cu-ms4);
  --cu-text-xl: var(--cu-ms3);
  --cu-text-lg: var(--cu-ms2);
  --cu-text-med: var(--cu-ms1);
  --cu-text-reg: var(--cu-ms0);
  --cu-color-brand: var(--cu-base-color-brand, #{$color-brand});
  --cu-current-text-color: var(--cu-base-color-text, #{$color-text});
  --cu-current-link-color: var(--cu-base-color-link, #{$color-link});
  --cu-text-color-light: var(--cu-base-text-color-light, #{$color-light});
}

html {
  font-size: var(--cu-font-size-percentage);
  line-height: var(--cu-current-line-height);
  font-weight: var(--cu-current-font-weight);
  font-family: var(--cu-current-font-family, inherit);
}

[class*='cu-'] {
  font-size: var(--cu-current-font-size, inherit);
  font-weight: var(--cu-current-font-weight, inherit);
  line-height: var(--cu-current-line-height, inherit);

  @for $i from 1 through 6 {
    h#{$i} {
      --cu-current-line-height: var(--cu-heading-line-height);
      --cu-current-font-weight: var(--cu-heading-font-weight);
      margin-top: 0;
    }
  }

  /*----------  Tag-based styles  ----------*/
  p {
    margin-top: 0;
  }

  a {
    color: var(--cu-current-link-color);
  }
}

/*----------  Class-based sizing  ----------*/
[class*='cu-text--x'] {
  --cu-font-family: var(--cu-heading-font-family);
  --cu-font-weight: var(--cu-heading-font-weight);
  --cu-line-height: var(--cu-heading-line-height);
  --cu-font-size: var(--current-heading-size);
  font-size: var(--current-heading-size);
}

.cu-text--xxxl {
  --current-heading-size: var(--cu-text-xxxl);
}

.cu-text--xxl {
  --current-heading-size: var(--cu-text-xxl);
}

.cu-text--xl {
  --current-heading-size: var(--cu-text-xl);
}

.cu-text--lg {
  --current-heading-size: var(--cu-text-lg);
}

.cu-text--md {
  --current-heading-size: var(--cu-text-med);
}

.cu-text--reg {
  font-size: var(--cu-base-font-size);
}

.cu-text--sm,
small {
  font-size: var(--cu-ms-1);
}

.cu-text--xs {
  font-size: var(--cu-ms-2);
}
