{% set checkbuttons %}

<div class="registration-form">
  {% for event in events %}
    {% set input = {
        'id': 'class-checkbutton-'~event.id,
        'type': 'radio',
        'name': 'class-checkbutton',
        'value': event.id,
        'checked': ''
      } %}

    {% include '@union/_form-checkbutton.twig' with {
      label_content: event.content,
      input: input
    } only %}
  {% endfor %}

  {% include '@union/_form-input.twig' with {
    attributes: {
      class: 'cu-input--submit cu-input--submit--alt',
      name: '[form][submit]',
      type: 'submit',
      value: 'Register',
      id: 'form.submit'
    }
  } only %}
</div>
{% endset %}

{% include '@union/_form.twig' with {
  children: checkbuttons,
} only %}
