@import './source/global/global';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cu-dismissible {
  position: relative;
  animation: fadeIn .2s;

  &__close {
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    border: 1px solid var(--cu-color-brand, $color-brand);
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.35);
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 10;
  }

  &__content {
    visibility: visible;
    opacity: 1;
  }

  // Pre-dismissed state.
  &--predismissed {
    display: none;
  }

  // Dismissed state.
  &__input:checked + &__close + &__content {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
  }

  &__input:checked + &__close {
    display: none;
  }

  // Always hide the actual checkbox.
  &__input {
    display: none;
  }
}
