.cu-card {
  --cu-current-font-size: var(--cu-ms0);
  background: var(--cu-card-background, transparent);
  border-radius: var(--cu-card-border-radius);
  display: flex;
  flex-direction: column;
  position: relative;
  /*=============================================
  =            Modifiers            =
  =============================================*/
  /*----------  Promos  ----------*/
  /*----------  Inset  ----------*/
  /*----------  Popouts  ----------*/
  /*----------  Panel  ----------*/
  /*----------  Promo with media and letterbox  ----------*/
  /*----------  Pinned ----------*/
  /*----------  Centered content  ----------*/
  /*----------  Padded  ----------*/
  /*----------  Cinematic  ----------*/
  /*----------  Icon  ----------*/
  /*----------  Eyebrow  ----------*/
  /*----------  Hover Reveal  ----------*/
  /*----------  Hover Overlay  ----------*/
  /*----------  Portrait (2 rows tall)  ----------*/
  /*----------  Landscape (span all columns)  ----------*/
  /*----------  With aside  ----------*/
  /*=====  End of Modifiers  ======*/ }
  .cu-card__content {
    background: var(--cu-card-content-background);
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    order: 2;
    padding: var(--cu-card-content-padding); }
  .cu-card .cu-card__content,
  .cu-card .cu-card__content a,
  .cu-card .cu-button {
    color: var(--cu-current-text-color); }
  .cu-card__media {
    order: 1;
    margin-bottom: var(--cu-vr0); }
    .cu-card__media .cu-image, .cu-card__media .cu-video {
      width: 100%; }
    .cu-card__media .cu-card__media-link {
      display: block; }
  .cu-card__heading {
    --cu-current-font-size: var(--cu-text-xxl);
    --cu-current-line-height: var(--cu-heading-line-height);
    --cu-current-font-weight: var(--cu-heading-font-weight);
    --cu-font-family: var(--cu-heading-font-family); }
  .cu-card__subheading {
    --cu-current-font-size: var(--cu-text-reg);
    --cu-current-line-height: var(--cu-reduced-line-height, 1.2);
    --cu-current-font-weight: var(--cu-font-weight); }
  .cu-card--promo .cu-card__content {
    justify-content: center;
    align-items: center;
    padding: var(--cu-vr1) var(--cu-ps1);
    text-align: center; }
    @media (min-width: 61rem) {
      .cu-card--promo .cu-card__content {
        padding: var(--cu-vr2) var(--cu-ps2); } }
    @media (min-width: 61rem) {
      .cu-card--promo .cu-card__content {
        padding: var(--cu-vr3) var(--cu-ps3); } }
  .cu-card--inset {
    display: block;
    overflow: auto;
    --cu-card-background: #efefef;
    --cu-card-content-background: #efefef; }
    .cu-card--inset .cu-card__content {
      position: absolute;
      bottom: var(--cu-vr1);
      left: var(--cu-ps1);
      right: var(--cu-ps1);
      height: unset;
      align-items: center;
      padding: var(--cu-vr1) var(--cu-ps1);
      text-align: center; }
      @media (min-width: 61rem) {
        .cu-card--inset .cu-card__content {
          bottom: var(--cu-vr3);
          left: var(--cu-ps3);
          right: var(--cu-ps3); } }
    .cu-card--inset .cu-card__media {
      margin-bottom: 0;
      height: 100%; }
      .cu-card--inset .cu-card__media img, .cu-card--inset .cu-card__media video {
        object-fit: cover;
        object-position: var(--image-focal-point, 50% 0);
        aspect-ratio: 1/2;
        width: 100%;
        height: 100%; }
        @media (min-width: 37.5rem) {
          .cu-card--inset .cu-card__media img, .cu-card--inset .cu-card__media video {
            aspect-ratio: var(--image-aspect-ratio); } }
      .cu-card--inset .cu-card__media :not(img):not(video) {
        display: contents; }
  .cu-card--popout {
    --cu-card-background: transparent !important;
    --cu-card-content-background: #efefef; }
    .cu-card--popout .cu-card__content {
      padding: var(--cu-vr2) var(--cu-ps2);
      margin: calc(var(--cu-vr2) * -1) var(--cu-vr1) 0;
      align-items: center;
      text-align: center; }
      .cu-card--popout .cu-card__content::before {
        content: '';
        width: 25%;
        border-top: 8px solid var(--cu-color-brand, #b31b1b);
        padding-bottom: var(--cu-vr1); }
      .cu-card--popout .cu-card__content > * {
        word-wrap: anywhere; }
    @media (min-width: 61rem) {
      .cu-card--popout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: calc(var(--cu-vr1)); }
        .cu-card--popout .cu-card__media {
          grid-column: 1 / -1;
          grid-row: 1;
          margin-bottom: 0; }
        .cu-card--popout .cu-card__content {
          grid-column: 2;
          grid-row: 1;
          align-self: flex-end;
          height: auto;
          margin-top: 55%;
          margin-bottom: calc(var(--cu-vr1) * -1);
          padding: var(--cu-vr3) var(--cu-ps3); }
        .cu-card--popout.cu-card--popout-left .cu-card__content {
          grid-column: 1; } }
  .cu-card--panel {
    --cu-card-background: #efefef;
    --cu-card-content-background: #efefef; }
    @media (min-width: 61rem) {
      .cu-card--panel {
        display: grid;
        grid-template-columns: 66% 34%;
        padding: 0; } }
    .cu-card--panel .cu-card__content {
      padding: var(--cu-vr1) var(--cu-ps1); }
      @media (min-width: 61rem) {
        .cu-card--panel .cu-card__content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: var(--cu-vr1) var(--cu-ps2); } }
    .cu-card--panel .cu-card__heading {
      --cu-current-heading-size: 50px;
      font-family: 'futura-pt';
      text-transform: uppercase;
      line-height: 1; }
      .cu-card--panel .cu-card__heading::after {
        content: '';
        display: block;
        width: 100px;
        height: 8px;
        margin-top: var(--cu-vr0);
        background: var(--cu-color-brand, #b31b1b); }
    .cu-card--panel .cu-button,
    .cu-card--panel .cu-card__link {
      width: 100%; }
      @media (min-width: 37.5rem) {
        .cu-card--panel .cu-button,
        .cu-card--panel .cu-card__link {
          width: auto; } }
    .cu-card--panel .cu-card__media {
      width: 100%;
      height: 100%;
      margin: 0; }
      .cu-card--panel .cu-card__media img, .cu-card--panel .cu-card__media video {
        object-fit: cover;
        width: 100%;
        height: 100%; }
      .cu-card--panel .cu-card__media :not(img):not(video) {
        display: contents; }
      @media (min-width: 61rem) {
        .cu-card--panel .cu-card__media {
          position: relative;
          grid-column: 1;
          grid-row: 1; } }
  @media (min-width: 61rem) {
    .cu-card--panel-left {
      grid-template-columns: 34% 66%; } }
  @media (min-width: 61rem) {
    .cu-card--panel-left .cu-card__media {
      grid-column: 2; } }
  .cu-card--promo.cu-card--with-media, .cu-card--with-aside {
    position: relative;
    pointer-events: none;
    --cu-current-text-color: #fff; }
    .cu-card--promo.cu-card--with-media::before, .cu-card--with-aside::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      background: rgba(0, 0, 0, var(--cu-overlay-opacity, 0.5));
      z-index: 2; }
    .cu-card--promo.cu-card--with-media .cu-card__media, .cu-card--with-aside .cu-card__media {
      position: absolute;
      overflow: hidden;
      max-width: none;
      width: 100%;
      height: 100%;
      z-index: 1; }
      .cu-card--promo.cu-card--with-media .cu-card__media img, .cu-card--promo.cu-card--with-media .cu-card__media video, .cu-card--with-aside .cu-card__media img, .cu-card--with-aside .cu-card__media video {
        object-fit: cover;
        width: 100%;
        height: 100%; }
      .cu-card--promo.cu-card--with-media .cu-card__media :not(img):not(video), .cu-card--with-aside .cu-card__media :not(img):not(video) {
        display: contents; }
    .cu-card--promo.cu-card--with-media .cu-card__content, .cu-card--with-aside .cu-card__content {
      position: relative;
      z-index: 3;
      pointer-events: all; }
    .cu-card--promo.cu-card--with-media .cu-card__fact-list, .cu-card--with-aside .cu-card__fact-list {
      list-style-type: none;
      padding: 0; }
      @media (min-width: 61rem) {
        .cu-card--promo.cu-card--with-media .cu-card__fact-list, .cu-card--with-aside .cu-card__fact-list {
          display: flex;
          justify-content: space-between;
          align-items: stretch; } }
    .cu-card--promo.cu-card--with-media .cu-card__fact, .cu-card--with-aside .cu-card__fact {
      --cu-current-font-size: var(--cu-text-lg);
      padding: var(--cu-vr0);
      border-bottom: 2px solid rgba(255, 255, 255, 0.2); }
      .cu-card--promo.cu-card--with-media .cu-card__fact:last-child, .cu-card--with-aside .cu-card__fact:last-child {
        border: none; }
      @media (min-width: 61rem) {
        .cu-card--promo.cu-card--with-media .cu-card__fact, .cu-card--with-aside .cu-card__fact {
          border-bottom: none;
          border-right: 2px solid rgba(255, 255, 255, 0.2);
          padding: 0 var(--cu-vr2); } }
      .cu-card--promo.cu-card--with-media .cu-card__fact-label, .cu-card--with-aside .cu-card__fact-label {
        --cu-current-font-size: var(--cu-text-reg);
        --cu-current-font-weight: 300;
        display: block; }
  .cu-card--use-aspect-ratio.cu-card--promo {
    display: grid; }
    .cu-card--use-aspect-ratio.cu-card--promo .cu-card__content,
    .cu-card--use-aspect-ratio.cu-card--promo .cu-card__media {
      grid-column: 1;
      grid-row: 1;
      position: relative; }
  .cu-card--pinned .cu-card__content {
    justify-content: flex-end; }
    .cu-card--pinned .cu-card__content > :first-child {
      margin-bottom: auto; }
  .cu-card--pinned-bottom .cu-card__content {
    justify-content: flex-end; }
  .cu-card--pinned-top .cu-card__content {
    justify-content: flex-start; }
  .cu-card--centered .cu-card__content {
    text-align: center;
    justify-content: center;
    padding: var(--cu-vr1); }
  .cu-card--padded .cu-card__content {
    padding: var(--cu-vr1) var(--cu-ps1); }
  .cu-card--cinematic {
    --cu-card-background: #efefef;
    --cu-card-content-background: #efefef;
    --cu-current-text-color: #222;
    padding: var(--cu-vr1) var(--cu-ps1);
    display: flex;
    flex-direction: column; }
    @media (min-width: 61rem) {
      .cu-card--cinematic {
        padding: var(--cu-vr3) var(--cu-ps2); }
        .cu-card--cinematic .cu-card__content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr; }
          .cu-card--cinematic .cu-card__content > * {
            grid-column: 2; }
          .cu-card--cinematic .cu-card__content .cu-card__meta {
            grid-column: 1;
            grid-row: 1 / 10; } }
    .cu-card--cinematic .cu-icon--color-light {
      --cu-current-text-color: #222; }
    @media (min-width: 61rem) {
      .cu-card--cinematic.cu-card--with-media .cu-card__meta {
        padding-left: var(--cu-ps5);
        padding-right: var(--cu-ps2); } }
    .cu-card--cinematic.cu-card--with-media .cu-card__heading::after {
      content: '';
      display: block;
      width: 100px;
      height: 8px;
      margin-top: var(--cu-vr0);
      background: var(--cu-color-brand, #b31b1b); }
    .cu-card--cinematic .cu-button,
    .cu-card--cinematic .cu-card__link {
      width: 100%;
      justify-self: start; }
      @media (min-width: 37.5rem) {
        .cu-card--cinematic .cu-button,
        .cu-card--cinematic .cu-card__link {
          width: auto; } }
    .cu-card--cinematic .cu-card__media {
      margin-bottom: var(--cu-vr1); }
      @media (min-width: 61rem) {
        .cu-card--cinematic .cu-card__media {
          margin-bottom: var(--cu-vr2); } }
  .cu-card--cinematic-reversed .cu-card__media {
    order: 10;
    margin: var(--cu-vr1) 0 0; }
    @media (min-width: 61rem) {
      .cu-card--cinematic-reversed .cu-card__media {
        margin-top: var(--cu-vr2); } }
  .cu-card--icon {
    padding: 0 var(--cu-ps-1);
    --cu-card-border-radius: 3px;
    flex-direction: row;
    align-items: center; }
    .cu-card--icon .cu-card__content {
      width: 100%; }
  .cu-card .cu-icon {
    margin-bottom: var(--cu-vr0); }
  .cu-card .cu-card__eyebrow-heading {
    --cu-current-heading-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin-bottom: var(--cu-vr0); }
  .cu-card--hover-content-reveal .cu-card__content {
    display: block; }
  .cu-card--hover-content-reveal .cu-card__hover-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height .25s ease, opacity .375s, margin-bottom .25s;
    opacity: 0;
    --cu-current-font-weight: 300;
    padding: 0 var(--cu-ps2); }
    .cu-card--hover-content-reveal .cu-card__hover-content:last-child {
      margin-bottom: 0; }
  .cu-card--hover-content-reveal:hover .cu-card__hover-content {
    max-height: 500px;
    opacity: 1; }
    .cu-card--hover-content-reveal:hover .cu-card__hover-content:last-child {
      margin-bottom: 1em; }
  .cu-card--hover-overlay {
    --cu-current-text-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
    .cu-card--hover-overlay .cu-card__content,
    .cu-card--hover-overlay .cu-card__media {
      grid-row: 1;
      grid-column: 1; }
    .cu-card--hover-overlay .cu-card__media {
      margin: 0;
      z-index: 1; }
    .cu-card--hover-overlay .cu-card__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
    .cu-card--hover-overlay:hover .cu-card__content {
      z-index: 2; }
  .cu-card--portrait {
    position: relative;
    pointer-events: none;
    grid-row-start: span 2; }
    .cu-card--portrait::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      background: rgba(0, 0, 0, var(--cu-overlay-opacity, 0.7));
      z-index: 2;
      background: transparent;
      background-image: linear-gradient(to bottom, transparent 25%, rgba(0, 0, 0, 0.7) 100%); }
      @media (min-width: 61rem) {
        .cu-card--portrait::before {
          background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.7) 100%); } }
    .cu-card--portrait .cu-card__heading {
      padding-top: var(--cu-vr4); }
  .cu-card--landscape {
    grid-column: 1 / -1; }
    .cu-card--landscape .cu-card__content {
      --cu-card-content-padding: var(--cu-vr3) 25%; }
      .cu-card--landscape .cu-card__content--narrow {
        max-width: 50%;
        margin: 0 auto; }
  .cu-card--with-aside {
    display: grid; }
    .cu-card--with-aside .cu-card__content {
      display: grid;
      grid-template-columns: 5% 57% 5% 28% 5%;
      padding: 25% 0 var(--cu-vr0); }
      .cu-card--with-aside .cu-card__content > * {
        grid-column: 2;
        grid-row: auto; }
        .cu-card--with-aside .cu-card__content > *:last-child {
          grid-column: 4;
          align-self: center;
          text-align: center; }
    .cu-card--with-aside .cu-heading--strong {
      font-size: var(--cu-text-lg); }
  .cu-card--vibrant {
    --cu-card-background: #b31b1b;
    --cu-card-content-background: #b31b1b;
    --cu-current-text-color: #fff;
    --cu-color-brand: #fff
  ; }
  .cu-card--light {
    --cu-card-background: #efefef;
    --cu-card-content-background: #efefef;
    --cu-current-text-color: #222; }
  .cu-card--dark {
    --cu-card-background: #222;
    --cu-card-content-background: #222;
    --cu-current-text-color: #fff; }

.cu-card__link {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  z-index: 4;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  background: transparent;
  pointer-events: all; }
/*# sourceMappingURL=card.css.map */
