<h3>Page Banner with Media</h3>

{% set rendered_media %}
{% include '@union/_image.twig' with {
    img_src: 'https://www.ilr.cornell.edu/sites/default/files/styles/facebook_share/public/Besharov-posed.jpg?itok=_-9nNDww&focal_point=72,21',
    img_alt: 'Make me accessible'
  } only %}
{% endset %}

{% set rendered_content %}
<div class="framed framed--right">
  {% include "@union/demo/breadcrumb.twig" with {
    attributes: { class: 'cu-pl-background-none'},
  } %}
  <h1 class="cu-heading cu-text--xxl">Contract Language and Interpretation</h1>
  <p>Whether you are administering contract language or proposing it at the bargaining table, this workshop is designed to instruct labor relations practitioners on how contract language and past practices may be interpreted by an arbitrator.</p>
  {% include '@union/demo/page-nav.twig' %}
</div>
{% endset %}

{% include '@union/_banner.twig' with {
  attributes: { class: 'cu-banner--page'},
  content: rendered_content,
  media: rendered_media
} only %}

<h3>Page Banner without Media</h3>

{% set rendered_content %}
<div class="framed framed--right">
  {% include "@union/demo/breadcrumb.twig" with {
    attributes: { class: 'cu-pl-background-none'},
  } %}
  <h1 class="cu-heading cu-text--xxl">Contract Language and Interpretation</h1>
  <p>Whether you are administering contract language or proposing it at the bargaining table, this workshop is designed to instruct labor relations practitioners on how contract language and past practices may be interpreted by an arbitrator.</p>
  {% include '@union/demo/page-nav.twig' %}
</div>
{% endset %}

{% include '@union/_banner.twig' with {
  attributes: { class: 'cu-banner--page'},
  content: rendered_content,
} only %}



