@import './source/global/global';

.cu-page-nav {
  margin-top: var(--cu-vr1);
  width: 100%;
}

.cu-heading--page-nav {
  --cu-current-heading-size: var(--cu-ms0);
  --cu-current-font-weight: bold !important;
}

.cu-page-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  --cu-current-link-color: var(--cu-color-text--light, #{$color-text--light});
  --cu-header-accent-width: 40%;
  --cu-header-accent-padding: .25em 0 0 0;
  --cu-header-accent-border: 4px solid var(--cu-color-brand, #{$cornell-red});


  .cu-heading {
    --cu-current-heading-size: var(--cu-ms1);
    max-width: 100%; // Override width constraint since heading is nested.
  }
}
