<h2>Union logo</h2>
{% include '@union/_logo.twig' %}

{# <h2>ILR lockup</h2>
{% include '@union/_ilr-lockup.twig' with {
  logo_src: '/images/ilr-cornell-lockup.svg'
} %} #}

<h2>ILR logo</h2>
{% include '@union/_logo.twig' with {
  logo_src: '/images/ilr-cornell-lockup.svg'
} %}
