@import './source/global/global';

.cu-section-heading {
  margin: var(--cu-vr2) 0 var(--cu-vr1);
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    margin: var(--cu-vr3) 0 var(--cu-vr1);
  }

  &__heading {
    --cu-current-font-size: var(--cu-text-xl);
    --cu-current-font-weight: 300;
    margin-top: 0;
    order: 2;
  }

  &__subheading {
    --cu-current-font-size: var(--cu-text-reg);
    order: 1;
    margin-bottom: 0;
  }

  &__link {
    color: $cornell-red;
    font-weight: bold;
    font-size: var(--cu-ms-1);
  }

  /*=============================================
  =            Variations            =
  =============================================*/

  /*----------  Framed  ----------*/
  &--framed {
    $frame-thickness: 10px;
    $frame-width: 120px;
    $frame-height: 50px;

    position: relative;
    text-align: center;
    padding-top: calc(#{$frame-thickness} + #{$frame-height});

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: $black;
    }

    &::before {
      width: $frame-width;
      height: $frame-thickness;
    }

    &::after {
      width: $frame-thickness;
      height: $frame-height;
    }

    /*----------  Framed right  ----------*/
    &.cu-section-heading--framed-right {
      &::before {
        left: calc(100% - #{$frame-width} - #{$frame-thickness});
      }

      &::after {
        left: calc(100% - #{$frame-thickness});
      }
    }
  }
  /*=====  End of Variations  ======*/
}
