@import './source/global/global';

.cu-section-heading {
  margin-bottom: var(--cu-vr3);

  &__heading {
    font-size: var(--cu-ms4);
    margin-top: var(--cu-vr-1)
  }

  &__subheading {
    font-size: var(--cu-ms-1);
    font-weight: 400;
  }

  &__link {
    color: $cornell-red;
    font-weight: bold;
    font-size: var(--cu-ms-1);
  }

  /*=============================================
  =            Variations            =
  =============================================*/

  /*----------  Framed  ----------*/
  &--framed {
    $frame-thickness: 10px;
    $frame-width: 120px;
    $frame-height: 50px;

    position: relative;
    text-align: center;
    padding-top: calc(#{$frame-thickness} + #{$frame-height});

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: $black;
    }

    &::before {
      width: $frame-width;
      height: $frame-thickness;
    }

    &::after {
      width: $frame-thickness;
      height: $frame-height;
    }

    /*----------  Framed right  ----------*/
    &.cu-section-heading--framed-right {
      &::before {
        left: calc(100% - #{$frame-width} - #{$frame-thickness});
      }

      &::after {
        left: calc(100% - #{$frame-thickness});
      }
    }
  }
  /*=====  End of Variations  ======*/
}
