{#
/**
 * ILR Lockup
 *
 * A Cornell seal and ILR logo combo, with separate links to each.
 *
 * @var Drupal\Core\Template\Attribute|array $attributes Attributes (class, data, etc.) for the lockup wrapper.
 */
#}
{% set attributes = union_attributes(attributes|default([])) %}
<div{{ attributes.addClass(['cu-logo', 'cu-logo--ilr-lockup']) }}>
{{ source('@union/_ilr-cornell-lockup.svg.twig') }}
</div>
