@import './source/global/global';

:root {
  --cu-ms-ratio: var(--minor-third, #{$ms-ratio});
  --cu-ms0: var(--cu-base-font-size, #{$base-font-size});
  --cu-ms1: calc(var(--cu-ms-ratio) * var(--cu-ms0));
  --cu-ms2: calc(var(--cu-ms-ratio) * var(--cu-ms1));
  --cu-ms3: calc(var(--cu-ms-ratio) * var(--cu-ms2));
  --cu-ms4: calc(var(--cu-ms-ratio) * var(--cu-ms3));
  --cu-ms5: calc(var(--cu-ms-ratio) * var(--cu-ms4));
  --cu-ms6: calc(var(--cu-ms-ratio) * var(--cu-ms5));
  --cu-ms7: calc(var(--cu-ms-ratio) * var(--cu-ms6));
  --cu-ms8: calc(var(--cu-ms-ratio) * var(--cu-ms7));
  --cu-ms9: calc(var(--cu-ms-ratio) * var(--cu-ms8));
  --cu-ms10: calc(var(--cu-ms-ratio) * var(--cu-ms9));

  --cu-ms-1: calc(var(--cu-ms0) / var(--cu-ms-ratio));
  --cu-ms-2: calc(var(--cu-ms-1) / var(--cu-ms-ratio));
  --cu-ms-3: calc(var(--cu-ms-2) / var(--cu-ms-ratio));
  --cu-ms-4: calc(var(--cu-ms-3) / var(--cu-ms-ratio));
  --cu-ms-5: calc(var(--cu-ms-4) / var(--cu-ms-ratio));
}
