@mixin cu-button--dark {
  @include cu-button;

  --cu-text-color: #{$white};
  background: $cornell-red;
}

@mixin cu-button--light {
  @include cu-button;

  border: 2px solid $white;
}

@mixin cu-button($size: 'auto') {
  --cu-font-weight: 400;
  --cu-font-size: var(--cu-ms-2);
  border-radius: 2px;
  border: 2px solid var(--cu-colorscheme-accent);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: auto;
  display: inline-block;
  text-decoration: none;

  @if $size=='full' {
    width: 100%;
  }
}

@mixin cu-button--overlay() {
  --cu-text-color: #{$white};
  border-color: $white;
  background-color: rgba(0, 0, 0, 0.3);
}

@mixin cu-button--pill() {
  border: none;
  border-radius: 1rem;
  padding: 5px var(--cu-ps1);
}
