<h2>Icons</h2>

<p>Icons are svg data embedded in an inline <code>svg</code> element via the <code>use</code> element and svg fragment identifiers.</p>

<p>The following variables are available:</p>

<dl>
  <dt>title</dt>
  <dd>A title for the icon. Generally used for tooltips and accessibility.</dd>

  <dt>icon</dt>
  <dd>The name if the desired icon. Currently available:
    <ul>
      <li>check-circle</li>
      <li>cornell-seal</li>
      <li>handshake</li>
      <li>mortarboard</li>
      <li>news-phone</li>
      <li>newsletter</li>
      <li>speech-bubble</li>
      <li>student</li>
      <li>tower</li>
    </ul>
  </dd>

  <dt>size</dt>
  <dd>The size of the icon in CSS units (e.g. 18px, 2em).</dd>

  <dt>label</dt>
  <dd>An optional visible text label to be displayed alongside the icon.</dd>

  <dt>attributes</dt>
  <dd>An array or Drupal attributes object for things like classes. Useful for passing in variant classes.</dd>
</dl>

<p>The following variants are available:</p>

<dl>
  <dt>.cu-icon--inline</dt>
  <dd>Places the icon, label, and wrapper inline.</dd>

  <dt>.cu-icon--inline-centered</dt>
  <dd>Places the label inline and centers the wrapper.</dd>

  <dt>.cu-icon--color-light</dt>
  <dd>Uses a lighter color for the icon and label for use with dark backgrounds.</dd>

  <dt>.cu-icon--color-brand</dt>
  <dd>Uses the brand color for the icon and label.</dd>
</dl>

{% for icon in demo.icons %}
  <h3 style="margin-top: 2rem">{{ icon.title }}</h3>

  {% include "@union/_icon.twig" with {
    title: icon.title,
    icon: icon.icon,
    size: icon.size,
    label: icon.label,
    attributes: icon.attributes
  } only %}
{% endfor %}
