{% for icon in demo.icons %}
  <h3>{{ icon.title }}</h3>

  {% include "@union/_icon.twig" with {
    title: icon.title,
    icon: icon.icon,
    label: icon.label,
    attributes: icon.attributes
  } only %}
{% endfor %}
