{% for icon in demo.icons %}
  <h3 style="margin-top: 2rem">{{ icon.title }}</h3>

  {% include "@union/_icon.twig" with {
    title: icon.title,
    icon: icon.icon,
    size: icon.size,
    label: icon.label,
    attributes: icon.attributes
  } only %}
{% endfor %}
