{% include '@union/_button.twig' with {
  text: demo.text
} only %}

<h3>Overlay Button</h3>
<div style="background-color: rgba(0, 0, 0, 0.3); display: flex; align-items: center; justify-content:center; min-height: 300px;">
  {% include '@union/_button.twig' with {
    text: 'Visit Us',
    attributes: { class: 'cu-button--overlay' }
  } %}
</div>

<h3>Pills</h3>
{% for i in 0..2 %}
  {% include '@union/_button.twig' with {
    text: demo.pills[i],
    attributes: { class: 'cu-button--pill' }
  } %}
{% endfor %}

