@import './source/global/global';

.cu-section {
  max-width: var(--cu-max-width-section, #{$max-width-section});
  margin: var(--cu-component-margin-top, var(--cu-vr1)) auto var(--cu-component-margin-bottom, var(--cu-vr1)) auto;

  &--wide {
    max-width: 100%;
  }

  &--gapless {
    --cu-grid-gap: 0;
    --cu-component-margin-top: 0;
  }

  [class*='cu-']:first-of-type {
    --cu-component-margin-top: 0;
  }

}

.cu-text--2col {
  column-count: 2;
  column-gap: var(--cu-vr3);
}
