@import './source/global/global';

.cu-layout--twocol {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--cu-grid-gap, var(--cu-vr3, 3rem));

  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;

    .cu-section-heading {
      grid-column: 1/-1;
    }
  }
}
