@import './global/global';

.cu-composite-heading {
  display: flex;
  gap: var(--cu-vr0);
  flex-direction: column;
  align-items: var(--cu-composite-heading-align, center);
  text-align: var(--cu-composite-heading-text-align, center);

  .cu-icon {
    order: 1;
    margin: 0;
  }

  &__heading {
    --cu-font-size: var(--cu-ms5);
    order: 3;
    margin: 0;
  }

  &__eyebrow-heading {
    --cu-font-size: 12px !important;
    --cu-font-weight: 700;
    --cu-line-height: 1 !important;
    opacity: .75;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    order: 2;
    margin: 0;
    margin-bottom: calc(var(--cu-vr-1) * -1);
  }

  &__body {
    order: 4;
    margin: 0;

    p:last-of-type {
      margin: 0;
    }
  }

  &__link {
    font-weight: bold;
    font-size: var(--cu-ms-1);
    order: 5;
    margin: 0 !important;
  }

  &::after {
    content: '';
    display: var(--cu-composite-heading-accent-display, block);
    width: 100px;
    height: 8px;
    background: var(--cu-colorscheme-accent);
    order: 6;
    margin: 0;
  }

  &--minimal::after {
    display: none;
  }

  // Variations
  &--left {
    --cu-composite-heading-align: flex-start;
    --cu-composite-heading-text-align: left;

    &::after {
      order: 3;
      margin: 0;
    }
  }

  &--bold {
    .cu-composite-heading__heading {
      --cu-font-family: 'futura-pt';
      --cu-font-size: var(--cu-ms4);
      text-transform: uppercase;

      @include breakpoint(sm) {
        --cu-font-size: var(--cu-ms6);
      }

      @include breakpoint(md) {
        --cu-font-size: var(--cu-ms7);
      }
    }
  }

  // Compact variant: left-aligned heading with body below, link as filled button on right
  &--compact {
    --cu-composite-heading-align: flex-start;
    --cu-composite-heading-text-align: left;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: var(--cu-vr-1);

    .cu-icon {
      order: 1;
      margin: 0;
    }

    &:has(.cu-composite-heading__link) .cu-composite-heading__heading {
      --cu-font-size: var(--cu-ms8);
    }

    .cu-composite-heading__body {
      font-weight: 400;
    }

    .cu-composite-heading__link {
      margin-bottom: 0;
    }

    &::after {
      display: none;
    }

    @include breakpoint(sm) {
      display: grid;
      grid-template-rows: auto;
      grid-auto-columns: 1fr auto;
      gap: var(--cu-vr-2) var(--cu-ps-1);

      .cu-composite-heading__link {
        grid-row: 1/-1;
        grid-column: 2;
        align-self: end;
      }

      &:has(.cu-composite-heading__body),
      &:has(.cu-composite-heading__eyebrow-heading) {
        grid-template-rows: repeat(2, auto);
      }

      &:has(.cu-composite-heading__eyebrow-heading):has(.cu-composite-heading__body) {
        grid-template-rows: repeat(3, auto);
      }

      &:has(.cu-icon) {
        grid-auto-columns: auto 1fr auto;

        .cu-composite-heading__heading {
          grid-column: 2;
        }

        .cu-icon {
          order: 3;
          align-self: center;

          .cu-icon__image {
            margin-bottom: 0;
          }
        }

        .cu-composite-heading__eyebrow-heading, .cu-composite-heading__body {
          grid-column: span 2;
        }

        .cu-composite-heading__link {
          grid-column: 3;
        }
      }
    }
  }
}
