:root {
  --augmented-fourth: 1.414;
  --double-octave: 4;
  --fifth: 1.5;
  --fourth: 1.333;
  --golden: 1.618;
  --major-eleventh: 2.667;
  --major-second: 1.125;
  --major-seventh: 1.875;
  --major-sixth: 1.667;
  --major-tenth: 2.5;
  --major-third: 1.25;
  --major-twelfth: 3;
  --minor-second: 1.067;
  --minor-seventh: 1.778;
  --minor-sixth: 1.6;
  --minor-third: 1.2;
  --octave: 2;
  --phi: 1.618; }

:root {
  --cu-ms-ratio: var(--minor-third);
  --cu-ms0: var(--cu-base-font-size, 1rem);
  --cu-ms1: calc(var(--cu-ms-ratio) * var(--cu-ms0));
  --cu-ms2: calc(var(--cu-ms-ratio) * var(--cu-ms1));
  --cu-ms3: calc(var(--cu-ms-ratio) * var(--cu-ms2));
  --cu-ms4: calc(var(--cu-ms-ratio) * var(--cu-ms3));
  --cu-ms5: calc(var(--cu-ms-ratio) * var(--cu-ms4));
  --cu-ms6: calc(var(--cu-ms-ratio) * var(--cu-ms5));
  --cu-ms7: calc(var(--cu-ms-ratio) * var(--cu-ms6));
  --cu-ms8: calc(var(--cu-ms-ratio) * var(--cu-ms7));
  --cu-ms9: calc(var(--cu-ms-ratio) * var(--cu-ms8));
  --cu-ms10: calc(var(--cu-ms-ratio) * var(--cu-ms9));
  --cu-ms-1: calc(var(--cu-ms0) / var(--cu-ms-ratio));
  --cu-ms-2: calc(var(--cu-ms-1) / var(--cu-ms-ratio));
  --cu-ms-3: calc(var(--cu-ms-2) / var(--cu-ms-ratio));
  --cu-ms-4: calc(var(--cu-ms-3) / var(--cu-ms-ratio));
  --cu-ms-5: calc(var(--cu-ms-4) / var(--cu-ms-ratio)); }

:root {
  --cu-ps-ratio: var(--fifth);
  --cu-ps0: var(--cu-ps-base, 1em);
  --cu-ps1: calc(var(--cu-ps-ratio) * var(--cu-ps0));
  --cu-ps2: calc(var(--cu-ps-ratio) * var(--cu-ps1));
  --cu-ps3: calc(var(--cu-ps-ratio) * var(--cu-ps2));
  --cu-ps4: calc(var(--cu-ps-ratio) * var(--cu-ps3));
  --cu-ps5: calc(var(--cu-ps-ratio) * var(--cu-ps4));
  --cu-ps6: calc(var(--cu-ps-ratio) * var(--cu-ps5));
  --cu-ps7: calc(var(--cu-ps-ratio) * var(--cu-ps6));
  --cu-ps8: calc(var(--cu-ps-ratio) * var(--cu-ps7));
  --cu-ps9: calc(var(--cu-ps-ratio) * var(--cu-ps8));
  --cu-ps10: calc(var(--cu-ps-ratio) * var(--cu-ps9));
  --cu-ps-1: calc(var(--cu-ps0) / var(--cu-ps-ratio));
  --cu-ps-2: calc(var(--cu-ps-1) / var(--cu-ps-ratio));
  --cu-ps-3: calc(var(--cu-ps-2) / var(--cu-ps-ratio));
  --cu-ps-4: calc(var(--cu-ps-3) / var(--cu-ps-ratio));
  --cu-ps-5: calc(var(--cu-ps-4) / var(--cu-ps-ratio)); }

:root {
  --cu-vr-ratio: var(--golden);
  --cu-vr0: var(--cu-vr-base, 1rem);
  --cu-vr1: calc(var(--cu-vr-ratio) * var(--cu-vr0));
  --cu-vr2: calc(var(--cu-vr-ratio) * var(--cu-vr1));
  --cu-vr3: calc(var(--cu-vr-ratio) * var(--cu-vr2));
  --cu-vr4: calc(var(--cu-vr-ratio) * var(--cu-vr3));
  --cu-vr5: calc(var(--cu-vr-ratio) * var(--cu-vr4));
  --cu-vr6: calc(var(--cu-vr-ratio) * var(--cu-vr5));
  --cu-vr7: calc(var(--cu-vr-ratio) * var(--cu-vr6));
  --cu-vr8: calc(var(--cu-vr-ratio) * var(--cu-vr7));
  --cu-vr9: calc(var(--cu-vr-ratio) * var(--cu-vr8));
  --cu-vr10: calc(var(--cu-vr-ratio) * var(--cu-vr9));
  --cu-vr-1: calc(var(--cu-vr0) / var(--cu-vr-ratio));
  --cu-vr-2: calc(var(--cu-vr-1) / var(--cu-vr-ratio));
  --cu-vr-3: calc(var(--cu-vr-2) / var(--cu-vr-ratio));
  --cu-vr-4: calc(var(--cu-vr-3) / var(--cu-vr-ratio));
  --cu-vr-5: calc(var(--cu-vr-4) / var(--cu-vr-ratio)); }

.cu-button {
  color: #b31b1b;
  font-weight: bold;
  border-radius: 2px;
  border: 1px solid #b31b1b;
  background: white;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: auto; }

.cu-button--alt {
  color: #b31b1b;
  font-weight: bold;
  border-radius: 2px;
  border: 1px solid #b31b1b;
  background: white;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: auto;
  color: white;
  background: #b31b1b; }

/* ------------------------------------ *\
   Forms
\* ------------------------------------ */
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */
legend {
  padding: 0; }

/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline; }

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

.cu-form summary {
  margin-bottom: 0.25rem; }

.cu-fieldset {
  margin-bottom: 1rem;
  padding: 1rem 1rem 0.5rem; }

.cu-input-list__item {
  padding: 0.2rem 0;
  margin-bottom: var(--cu-vr-2); }
  .cu-input-list__item--label-hidden label {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal; }
  .cu-input-list__item--radio {
    display: flex;
    padding: 0.2rem 0; }
    .cu-input-list__item--radio .cu-label {
      order: 2;
      margin-left: 1rem; }

.cu-label {
  display: block;
  padding-bottom: 0.4rem;
  margin-left: 1px; }
  .cu-input-list__item--required .cu-label:after {
    content: '*';
    color: #b31b1b;
    font-weight: bold;
    font-size: 80%;
    top: -2px;
    opacity: 2;
    position: absolute; }

.cu-input-list__item.has-float-label:not(.js-disabled) {
  display: block;
  position: relative; }
  .cu-input-list__item.has-float-label:not(.js-disabled) label {
    position: absolute;
    left: 0.5rem;
    top: calc(0.2rem * 2.5 + 0.4rem);
    cursor: text;
    transition: all .2s;
    z-index: 10;
    color: #888888;
    line-height: 1; }
  .cu-input-list__item.has-float-label:not(.js-disabled).is-active label, .cu-input-list__item.has-float-label:not(.js-disabled).is-filled label {
    top: 6px;
    left: 3px;
    font-size: 75%; }

.cu-input-list__item--radio.has-float-label:not(.js-disabled) label {
  line-height: 2; }

.cu-input-list__item--select.has-float-label:not(.js-disabled) label {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal; }

.cu-input {
  padding: 0.4rem 0.5rem;
  margin-bottom: 0.5rem;
  /*----------  Invalid indicator  ----------*/ }
  .cu-input--text, .cu-input--tel, .cu-input--email, .cu-input--password, .cu-input--select {
    width: 100%; }
  .cu-input--text, .cu-input--tel, .cu-input--email {
    border-radius: 3px;
    border: 1px solid #ccc; }
  .cu-input--submit {
    color: #b31b1b;
    font-weight: bold;
    border-radius: 2px;
    border: 1px solid #b31b1b;
    background: white;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: auto; }
    .cu-input--submit--alt {
      color: #b31b1b;
      font-weight: bold;
      border-radius: 2px;
      border: 1px solid #b31b1b;
      background: white;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      width: auto;
      color: white;
      background: #b31b1b; }
  .cu-input.required.is-touched:not(.is-filled), .cu-input.required.is-invalid:not(.is-filled) {
    color: #b31b1b;
    border: 1px solid #b31b1b;
    background: #fef7f6; }

.cu-input-message--invalid {
  color: #b31b1b;
  margin-left: 0.5rem; }

/*=====  End of Invalid indicator  ======*/
/*=============================================
=            Float label inputs            =
=============================================*/
.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input--text,
.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input--tel,
.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input--email {
  padding: 1rem 0.5rem 0.2rem; }

.cu-input-list__item.has-float-label:not(.js-disabled):not(.cu-input-list__item--select).is-filled .cu-input,
.cu-input-list__item.has-float-label:not(.js-disabled):not(.cu-input-list__item--select) .cu-input.is-focused:not(.is-filled) {
  transition: all 0.2s;
  padding: 1rem 0.5rem 0.2rem; }

.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input::placeholder,
.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input--select::placeholder,
.cu-input-list__item.has-float-label:not(.js-disabled) textarea::placeholder {
  opacity: 1;
  transition: all .2s; }

.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input:placeholder-shown:not(:focus)::placeholder,
.cu-input-list__item.has-float-label:not(.js-disabled) .cu-input--select:placeholder-shown:not(:focus)::placeholder,
.cu-input-list__item.has-float-label:not(.js-disabled) textarea:placeholder-shown:not(:focus)::placeholder {
  opacity: 0; }

/*=====  End of Float label inputs  ======*/
.cu-form *,
.cu-form *:before,
.cu-form *:after {
  box-sizing: border-box; }

.cu-image img {
  max-width: 100%;
  height: auto; }

.cu-logo--union {
  max-width: 200px; }

.cu-message-list__list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.cu-message {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  padding: var(--cu-ms-3) var(--cu-ms0);
  margin-bottom: var(--cu-vr0);
  background-color: var(--cu-color-info--light, #daf1f8);
  border-color: var(--cu-color-info, #5bc0de);
  color: var(--cu-color-info--dark, #1b6d85); }
  .cu-message--status {
    background-color: var(--cu-color-status--light, #e3f3e3);
    border-color: var(--cu-color-status, #5cb85c);
    color: var(--cu-color-status--dark, #357935); }
  .cu-message--warning {
    background-color: var(--cu-color-warning--light, #fff4d3);
    border-color: var(--cu-color-warning, #ffc107);
    color: var(--cu-color-warning--dark, #a07800); }
  .cu-message--error {
    background-color: var(--cu-color-error--light, #f7dad9);
    border-color: var(--cu-color-error, #d9534f);
    color: var(--cu-color-error--dark, #a02622); }
  .cu-message__text {
    margin: 0; }

body {
  color: var(--cu-color-text, #222);
  background-color: var(--cu-color-bg-body, #fff); }

@font-face {
  font-family: "Replica";
  src: url("fonts/lineto-replica-pro-regular.woff2") format("woff2"), url("fonts/lineto-replica-pro-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Replica";
  src: url("fonts/lineto-replica-pro-italic.woff2") format("woff2"), url("fonts/lineto-replica-pro-italic.woff") format("woff");
  font-style: italic;
  font-weight: normal; }

@font-face {
  font-family: "Replica";
  src: url("fonts/lineto-replica-pro-bold.woff2") format("woff2"), url("fonts/lineto-replica-pro-bold.woff") format("woff");
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: "Replica";
  src: url("fonts/lineto-replica-pro-bolditalic.woff2") format("woff2"), url("fonts/lineto-replica-pro-bolditalic.woff") format("woff");
  font-style: italic;
  font-weight: bold; }

@font-face {
  font-family: "Replica";
  src: url("fonts/lineto-replica-pro-light.woff2") format("woff2"), url("fonts/lineto-replica-pro-light.woff") format("woff");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Replica";
  src: url("fonts/lineto-replica-pro-lightitalic.woff2") format("woff2"), url("fonts/lineto-replica-pro-lightitalic.woff") format("woff");
  font-style: italic;
  font-weight: 300; }

body {
  font-family: var(--cu-font-primary, "Replica"), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300; }

/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

/**
 * Use a more readable tab size (opinionated).
 */
:root {
  -moz-tab-size: 4;
  tab-size: 4; }

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct height in Firefox.
 */
hr {
  height: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */
legend {
  padding: 0; }

/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline; }

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Chrome and Safari.
 */
summary {
  display: list-item; }

html {
  font-size: var(--cu-base-font-size-percentage, 125%);
  line-height: var(--cu-vr1); }

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.2; }

h1 {
  font-size: var(--cu-ms6); }
  aside h1 {
    font-size: var(--cu-ms4); }

h2 {
  font-size: var(--cu-ms5); }
  aside h2 {
    font-size: var(--cu-ms3); }

h3 {
  font-size: var(--cu-ms4); }
  aside h3 {
    font-size: var(--cu-ms2); }

h4 {
  font-size: var(--cu-ms3); }
  aside h4 {
    font-size: var(--cu-ms1); }

h5 {
  font-size: var(--cu-ms2); }
  aside h5 {
    font-size: var(--cu-ms0); }

h6 {
  font-size: var(--cu-ms1); }
  aside h6 {
    font-size: var(--cu-ms-1); }

p {
  font-size: var(--cu-ms0);
  margin-bottom: var(--cu-vr0); }

.cu-logo--ilr-lockup {
  max-width: 350px; }
  .cu-logo--ilr-lockup img {
    max-width: 80%; }
/*# sourceMappingURL=union.css.map */
