.cu-person {
  display: grid;
  --cu-composite-heading-text-align: left;
  --cu-font-size: var(--cu-ms-1);
}

.cu-person__titles {
  margin: 0;
  list-style: none;
  padding: 0;
  --cu-font-size: var(--cu-ms-2);
}

.cu-person__info {
  --cu-composite-heading-align: flex-start;
  --cu-composite-heading-text-align: left;
}

.cu-person__additional_info {
  margin-top: var(--cu-vr0);
}

.cu-person .cu-composite-heading {
  gap: var(--cu-vr-2);
}

.cu-person .cu-composite-heading__eyebrow-heading {
  margin-bottom: 0;
}


.cu-person--thumb {
  grid-column-gap: var(--cu-vr0);
  grid-template-columns: 1fr 2fr;
}

.cu-person--thumb .cu-person__info {
  grid-column: 2;
}

.cu-person--thumb .cu-person__image {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
  margin-bottom: var(--cu-vr-1);
}

.cu-person--thumb .cu-person__image .cu-image {
  border-radius: 50%;
}

.cu-person--thumb .cu-person__title:not(:last-child) {
  margin-bottom: var(--cu-vr-2);
}

.cu-person--thumb .cu-person__name {
  --cu-font-size: var(--cu-ms3);
  grid-row: 1;
  grid-column: 2;
  margin: 0 0 var(--cu-vr-3);
}

.cu-person--thumb .cu-person__content {
  grid-column: 1 / -1;
}


.cu-person--horizontal {
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: repeat(2, auto);
}

.cu-person--horizontal .cu-person__name {
  --cu-font-size: var(--cu-ms0);
  --cu-font-weight: 400;
}

.cu-person--horizontal .cu-person__image {
  grid-column: 1;
  grid-row: 1 / -1;
}

.cu-person--horizontal .cu-person__image *:not(.cu-image) {
  display: contents;
}

.cu-person--horizontal .cu-person__image .cu-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1.2;
}

.cu-person--horizontal .cu-person__content {
  grid-column: 2;
  grid-row: 2;
}

.cu-person--horizontal .cu-person__info,
.cu-person--horizontal .cu-person__content {
  padding: var(--cu-vr0) var(--cu-ps0);
}

.cu-grid--people {
  grid-column-gap: var(--cu-vr2);
  align-items: start;
}
