.cu-person {
  display: grid;
  --cu-composite-heading-text-align: left;
  --cu-font-size: var(--cu-ms-1);
}

.cu-person__titles {
  display: flex;
  flex-direction: column;
  gap: var(--cu-vr-2);
  margin: 0;
  list-style: none;
  padding: 0;
  --cu-font-size: var(--cu-ms-2);
  --cu-line-height: 1.25;
}

.cu-person__info {
  --cu-composite-heading-align: flex-start;
  --cu-composite-heading-text-align: left;
}

.cu-person__additional_info {
  margin-top: var(--cu-vr0);
  --cu-font-size: var(--cu-ms-2);
}

.cu-person .cu-composite-heading {
  gap: var(--cu-vr-2);
}

.cu-person .cu-composite-heading__eyebrow-heading {
  margin-bottom: 0;
}


.cu-person--thumb {
  grid-column-gap: var(--cu-vr0);
  grid-template-columns: 1fr 2fr;
  background-color: transparent;
}

.cu-person--thumb .cu-person__info {
  grid-column: 2;
}

.cu-person--thumb .cu-person__image {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
  margin-bottom: var(--cu-vr-1);
}

.cu-person--thumb .cu-person__image .cu-image {
  border-radius: 50%;
}

.cu-person--thumb .cu-person__title:not(:last-child) {
  margin-bottom: var(--cu-vr-2);
}

.cu-person--thumb .cu-person__name {
  --cu-font-size: var(--cu-ms3);
  grid-row: 1;
  grid-column: 2;
  margin: 0 0 var(--cu-vr-3);
}

.cu-person--thumb .cu-person__content {
  grid-column: 1 / -1;
}

.cu-person-wrapper {
  container-type: inline-size;
}


.cu-person--adaptive {
  align-content: start;
  background-color: var(--cu-color-light-gray);
  height: 100%;
}

.cu-person--adaptive .cu-person__info,
.cu-person--adaptive .cu-person__content {
  padding: var(--cu-vr0) var(--cu-ps0);
  word-wrap: anywhere;
}

.cu-person--adaptive .cu-person__image {
  order: -1;
}

.cu-person--adaptive .cu-person__image .cu-image {
  width: 100%;
  aspect-ratio: 1.4;
}

.cu-person--adaptive .cu-person__image *:not(.cu-image) {
  display: contents;
}

.cu-person--adaptive .cu-person__name {
  --cu-font-size: var(--cu-ms0);
  --cu-font-weight: 400;
}

@container (min-width: 326px) {
  .cu-person--adaptive {
    grid-template-columns: 1fr 1.5fr;
    align-content: unset;
  }

  .cu-person--adaptive .cu-person__image .cu-image {
    height: 100%;
    aspect-ratio: 0.9;
  }

  .cu-person--adaptive .cu-person__content {
    grid-column: 1 / -1;
  }
}

.cu-grid--people {
  grid-column-gap: var(--cu-vr2);
  align-items: start;
}
