.cu-form {
  summary {
    margin-bottom: $form-element-margin-bottom;
  }
}

.cu-fieldset {
  margin-bottom: $form-element-margin-bottom;
  padding: 1rem;
}
.cu-input-list__item {
  padding: $form-element-padding;
  margin-bottom: $form-element-margin-bottom;

  &--label-hidden {
    label {
      @include visually-hidden;
    }
  }

  &--radio {
    display: flex;
    padding: $form-element-padding 0;

    .cu-label {
      order: 2;
      margin-left: 1rem;
    }
  }
}

.cu-label {
  display: block;
  padding-bottom: 0.4rem;
  margin-left: 1px;
}

// Float label specific
// @see https: //github.com/tonystar/float-label-css
.cu-input-list__item.has-float-label:not(.js-disabled) {
  display: block;
  position: relative;

  &--select {
    label {
      @include visually-hidden;
    }
  }

  label {
    position: absolute;
    left: calc(#{$form-element-padding} + #{$form-input-padding-x});
    top: calc(#{$form-element-padding} * #{$float-label-offset-multiplier} + #{$form-input-padding-y});
    cursor: text;
    font-size: 125%;
    opacity: 0.5;
    transition: all .2s;
    z-index: 10;
  }

  &.is-active,
  &.is-filled {
    label {
      top: calc(#{$form-element-padding} + 3px);
      left: calc(#{$form-element-padding} + 3px);
      font-size: 90%;
      opacity: 1;
    }
  }
}

// @todo: Refactor once design is in hand.
.cu-input-list__item--select.has-float-label:not(.js-disabled) {
  label {
    @include visually-hidden;
  }
}


