.cu-form {
  summary {
    margin-bottom: $form-element-margin-bottom;
  }
}

.cu-fieldset {
  margin-bottom: 1rem;
  padding: 1rem 1rem 0.5rem;
}
.cu-input-list__item {
  padding: $form-element-padding-y $form-element-padding-x;
  margin-bottom: var(--cu-vr-2, #{$form-element-margin-bottom});

  &--label-hidden {
    label {
      @include visually-hidden;
    }
  }

  &--radio {
    display: flex;
    padding: $form-element-padding-y $form-element-padding-x;

    .cu-label {
      order: 2;
      margin-left: 1rem;
    }
  }
}

.cu-label {
  display: block;
  padding-bottom: 0.4rem;
  margin-left: 1px;

  .cu-input-list__item--required & {
    &:after {
      content: '*';
      color: $color-alert;
      font-weight: bold;
      font-size: 80%;
      top: -2px;
      opacity: 2;
      position: absolute;
    }
  }
}

// Float label specific
// @see https: //github.com/tonystar/float-label-css
.cu-input-list__item.has-float-label:not(.js-disabled) {
  display: block;
  position: relative;

  label {
    position: absolute;
    left: $form-input-padding-x;
    top: calc(#{$form-element-padding-y} * #{$float-label-offset-multiplier} + #{$form-input-padding-y});
    cursor: text;
    transition: all .2s;
    z-index: 10;
    color: lighten($black, 40%);
    line-height: 1;
  }

  &.is-active,
  &.is-filled {
    label {
      top: 6px;
      left: 3px;
      font-size: 75%;
    }
  }
}

// Fix radio alignment
.cu-input-list__item--radio.has-float-label:not(.js-disabled) {
  label {
    line-height: 2;
  }
}

// @todo: Refactor once design is in hand.
.cu-input-list__item--select.has-float-label:not(.js-disabled) {
  label {
    @include visually-hidden;
  }
}
