@import './source/global/global';

:root {
  --cu-color-background: #{$color-bg-card--light};
  --cu-vertical-margin: var(--cu-vr1);
  --cu-card-border-radius: 3px;
}

.cu-card--promo {
  --cu-card-color-background: #{$color-bg-card--medium};
}

.cu-card--light {
  --cu-card-color-background: #{$color-bg-card--light} !important;
}
