{{ attach_library('union_organizer/button') }}
{% set attributes = union_attributes(attributes|default([])) %}
{% set attributes = attributes.addClass(['cu-button']) %}
<button{{ attributes }}>{{ text }}</button>
