@import './source/global/global';

.cu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cu-icon__image {
    max-width: 10em;
  }

  &--inline {
    display: inline-flex;
    flex-direction: row;
  }

  &--inline-centered {
    flex-direction: row;
    justify-content: center;
  }

  &--tower .cu-icon__image {
    width: 22px;
  }

  &--handshake .cu-icon__image {
    width: 2em;
  }

  &--cornell-seal .cu-icon__image {
    max-width: 73px;
  }

  &--red .cu-icon__image {
    fill: $cornell-red;
  }
}
