{#
/**
 * Link Cloud
 *
 * A flexible list of links styled as buttons, arranged in a cloud/wrap layout.
 *
 * @var string $heading Optional heading for the link cloud.
 * @var array $items An array of link items. Each item must contain both `url` and `content` keys.
 * @var Drupal\Core\Template\Attribute $attributes Attributes (class, data, etc.) for the entire component.
 *
 * @see Figma design for "Explore Our Work in Other States"
 */
#}
{% set attributes = union_attributes(attributes|default([])) %}

<div{{ attributes.addClass(['cu-link-cloud']) }}>
  {% if heading %}
  <h2 class="cu-link-cloud__heading">{{ heading }}</h2>
  {% endif %}
  <ul class="cu-link-cloud__items">
  {% for item in items %}
    <li class="cu-link-cloud__item">
      {% if item.text and item.url %}
      {% include '@union/_button.twig' with item|merge({attributes: { 'class': 'cu-link-cloud__link' }}) only %}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
