@import './global/global';

.cu-link-cloud {
  display: flex;
  flex-direction: column;
  gap: var(--cu-vr1);

  &[class*="cu-colorscheme--"] {
    padding: var(--cu-vr1) var(--cu-ps1);
  }

  @include breakpoint(md) {
    &[class*="cu-colorscheme--"] {
      padding: var(--cu-vr3) var(--cu-ps4);
    }
  }
}

.cu-link-cloud__heading {
  margin: 0 0 var(--cu-vr1) 0;
  text-align: center;
}

.cu-link-cloud__items {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cu-vr0);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cu-link-cloud__item {
  margin: 0;
  padding: 0;
}

.cu-link-cloud__link {
  // Base button styles
  --cu-font-weight: 700;
  --cu-font-size: 16px;
  background-color: var(--cu-colorscheme-background, var(--cu-color-white));
  border-radius: 2px;
  border: 2px solid var(--cu-color-brand);
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  width: auto;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  min-width: 150px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: var(--cu-color-brand);
  
  &:hover {
    text-decoration: none;
    background-color: var(--cu-color-brand);
    border-color: var(--cu-color-brand);
    color: var(--cu-color-white);
  }
}
