{#
/**
 * ILR Base
 *
 * The ILR Base component is special. The template is a demo and the component just contains CSS.
 *
 * @union-css-category base
 *
 * @todo Move some of this component to _base (normalize, font stuff) and the rest to the custom theme or similar.
 */
#}
<h1 class="cu-heading">Title or Heading</h1>
<h2 class="cu-heading">Title or Heading</h2>
<h3 class="cu-heading">Title or Heading</h3>
<h4 class="cu-heading">Title or Heading</h4>
<h5 class="cu-heading">Title or Heading</h5>

<p class="cu-text">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius <a href="#"> blandit sit amet non magna</a>. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum.</p>
