:root {
  --cu-color-brand: #b31b1b; }

body {
  background-color: var(--cu-color-bg-body, #fff); }

/* Color non-component links within Union components. This is any <a> element
without a class that starts with 'cu-' and is nested inside a 'cu-*' component.
We do not set --cu-text-color for all <a> elements here, because the CSS
specificity would be higher than most single-class overrides. */
/* [class*='cu-'] a:not([class*='cu-']) {
  --cu-text-color: #b31b1b; } */
.cu-text a:not([class*='cu-']) {
  --cu-text-color: #b31b1b;
  --cu-font-weight: 400;
}
.cu-text .cu-heading a {
  --cu-text-color: inherit;
}

.cu-card {
  --cu-card-background: white; }

.cu-card--light {
  --cu-card-background: #fff; }

.cu-card--promo {
  --cu-card-background: #efefef; }

.cu-card--promo-with-media {
  --cu-card-background: #464646; }

.cu-card--hover-overlay {
  --cu-card-content-background: rgba(179, 27, 27, 0.75); }
