:root {
  --cu-color-brand: #b31b1b;
  --cu-color-white: white;
  --cu-color-gray: #ccc;
  --cu-color-light-gray: #efefef;
  --cu-color-dark: #222;
  --cu-color-medium-gray: #6c6c6c;

  /* Can this be overridden in themes and such? */
  --cu-colorscheme-accent: var(--cu-color-brand);
}

*[class*='cu-colorscheme'] {
  background-color: var(--cu-colorscheme-background);
}

.cu-colorscheme--vibrant {
  --cu-colorscheme-background: var(--cu-color-brand);
  --cu-text-color: var(--cu-color-white);
  --cu-colorscheme-accent: var(--cu-color-white);
}

.cu-colorscheme--light {
  --cu-colorscheme-background: var(--cu-color-light-gray);
  --cu-text-color: var(--cu-color-dark);
  --cu-colorscheme-accent: var(--cu-color-brand);
}

.cu-colorscheme--dark {
  --cu-colorscheme-background: var(--cu-color-dark);
  --cu-text-color: var(--cu-color-white);
  --cu-colorscheme-accent: var(--cu-color-brand);
}

body {
  background-color: var(--cu-color-bg-body, #fff); }

/* Color non-component links within Union components. This is any <a> element
without a class that starts with 'cu-' and is nested inside a 'cu-*' component.
We do not set --cu-text-color for all <a> elements here, because the CSS
specificity would be higher than most single-class overrides. */
/* [class*='cu-'] a:not([class*='cu-']) {
  --cu-text-color: #b31b1b; } */
.cu-text a:not([class*='cu-']) {
  --cu-text-color: #b31b1b;
  --cu-font-weight: 400;
}
.cu-text .cu-heading a {
  --cu-text-color: inherit;
}
