.cu-header {
  display: flex;
  gap: var(--cu-ps-1);
  align-items: center;
  padding-top: var(--cu-vr1);
  margin-bottom: var(--cu-component-margin-bottom, 0);
  border-bottom: 1px solid var(--cu-color-border, #ccc); }
  .cu-header .cu-logo {
    padding-bottom: var(--cu-vr1); }

@media (min-width: 61rem) {
  .cu-header {
    gap: var(--cu-ps1);
  }
}

/* Nav Trigger */
.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0); }
  @media (min-width: 61rem) {
    .nav-trigger {
      display: none; } }

label[for="nav-trigger"] {
  display: inline-block;
  width: 24px;
  z-index: 2;
  cursor: pointer; }
  @media (min-width: 61rem) {
    label[for="nav-trigger"] {
      display: none; } }
  label[for="nav-trigger"] .cu-accessible {
    display: none; }
  label[for="nav-trigger"]::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='currentColor' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E");
    display: block;
    height: 24px; }

.nav-trigger:checked ~ .cu-menu__list {
  display: flex; }

.nav-trigger:checked ~ label[for="nav-trigger"] span {
  display: none; }

.nav-trigger:checked ~ label[for="nav-trigger"]::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='currentColor' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E"); }

.cu-menu--main {
  flex-grow: 1;
  line-height: 1; }

.cu-menu__list {
  --cu-font-size: var(--cu-ms-1);
  text-align: left;
  background: white;
  list-style-type: none;
  margin: 0;
  padding: var(--cu-vr1);
  display: none;
  flex-direction: column;
  position: absolute;
  width: 92vw;
  right: 0;
  box-shadow: 0px 0px 26px -3px rgba(0, 0, 0, 0.37);
  z-index: 10;
  flex-grow: 1; }
  @media (min-width: 61rem) {
    .cu-menu__list {
      background: none;
      box-shadow: none;
      padding: 0;
      left: 0;
      top: 0;
      width: auto;
      display: flex;
      flex-direction: row;
      position: relative;
      /* space-around has been supported for almost 5 additional years, so why not? */
      justify-content: space-around;
      justify-content: space-evenly;
      align-items: flex-end; } }

.cu-menu__item {
  margin: 0 .5em; }
  .cu-menu__item:first-of-type {
    margin-left: 0; }
  .cu-menu__item:last-of-type {
    margin-right: 0; }
  @media (min-width: 61rem) {
    .cu-menu__item--active {
      border-bottom: 2px solid black; } }

.cu-menu__link {
  display: block;
  text-decoration: none;
  padding: var(--cu-vr0) 0;
  text-align: center; }
  @media (min-width: 61rem) {
    .cu-menu__link {
      padding: 0 0 var(--cu-vr2); } }
/*# sourceMappingURL=main-menu.css.map */
