$form-element-margin-bottom: 0.25rem;
$form-element-padding-x: 0;
$form-element-padding-y: 0.2rem;
$form-input-padding-x: 0.5rem;
$form-input-padding-y: 0.4rem;
$float-label-offset-multiplier: 2.5; // Use this value to adjust float-lable input size
