$form-element-margin-bottom: 0.75rem;
$form-element-padding: 0.25rem;
$form-input-padding-x: 0.5rem;
$form-input-padding-y: 0.5rem;
$float-label-offset-multiplier: 2.5; // Creates space for float labels
