.cu-card {
  background: transparent;
  display: flex;
  flex-direction: column;
  /*=============================================
  =            Modifiers            =
  =============================================*/
  /*----------  Promos  ----------*/
  /*----------  Promo with media  ----------*/
  /*----------  Pinned ----------*/
  /*----------  Centered content  ----------*/
  /*----------  Light background  ----------*/
  /*----------  Rounded corners  ----------*/
  /*----------  Highlight  ----------*/
  /*----------  Portrait (2 rows tall)  ----------*/
  /*----------  Landscape (span all columns)  ----------*/
  /*=====  End of Modifiers  ======*/ }
  .cu-card__content {
    order: 2; }
  .cu-card__media {
    order: 1;
    margin-bottom: var(--cu-vr0); }
    .cu-card__media :first-child {
      width: 100%; }
  .cu-card__heading {
    font-size: var(--cu-ms5);
    font-weight: 300;
    line-height: var(--cu-heading-line-height, 1.2); }
  .cu-card__subheading {
    font-size: var(--cu-ms0);
    margin-bottom: var(--cu-vr0);
    font-weight: 400;
    line-height: var(--cu-reduced-line-height, 1.2); }
  .cu-card--promo {
    background: #efefef; }
    .cu-card--promo .cu-card__content {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: flex-start;
      padding: var(--cu-vr2) var(--cu-vr3);
      text-align: center; }
  .cu-card--promo-with-media {
    position: relative; }
    .cu-card--promo-with-media::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(85, 85, 85, 0.5);
      z-index: 2; }
    .cu-card--promo-with-media .cu-card__media {
      position: absolute;
      overflow: hidden;
      max-width: none;
      width: 100%;
      height: 100%;
      z-index: 1; }
      .cu-card--promo-with-media .cu-card__media :first-child {
        object-fit: cover;
        width: 100%;
        height: 100%; }
    .cu-card--promo-with-media .cu-card__content {
      color: white;
      position: relative;
      z-index: 3; }
  .cu-card--pinned .cu-card__content {
    justify-content: flex-end; }
    .cu-card--pinned .cu-card__content :first-child {
      margin-bottom: auto; }
  .cu-card--centered .cu-card__content {
    text-align: center;
    justify-content: center;
    padding: var(--cu-vr1); }
  .cu-card--light {
    background: #fff; }
  .cu-card--rounded {
    border-radius: 2px; }
  .cu-card--highlight {
    transition: 0.15s all ease;
    position: relative; }
    .cu-card--highlight .cu-card__heading {
      font-size: var(--cu-ms2);
      font-weight: 400; }
    .cu-card--highlight .cu-card__content {
      z-index: 2;
      text-align: center;
      justify-content: center;
      padding: var(--cu-vr1); }
      .cu-card--highlight .cu-card__content p {
        font-size: var(--cu-ms-1); }
    .cu-card--highlight::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      transform-origin: 50% 50%;
      transition: all .18s;
      z-index: 1;
      border-radius: 2px; }
    .cu-card--highlight:hover, .cu-card--highlight-active {
      color: white; }
      .cu-card--highlight:hover a, .cu-card--highlight-active a {
        color: #fff;
        text-decoration: underline; }
      .cu-card--highlight:hover::before, .cu-card--highlight-active::before {
        transform: scaleY(1.3);
        background: #b31b1b; }
  .cu-card--portrait {
    grid-row-start: span 2; }
  .cu-card--landscape {
    grid-column: 1 / -1; }
/*# sourceMappingURL=card.css.map */
