@import './source/global/global';

.cu-card {
  background: $color-bg-card--default;
  display: flex;
  flex-direction: column;

  &__content {
    order: 2;
  }

  &__media {
    order: 1;
    margin-bottom: var(--cu-vr0);

    :first-child {
      width: 100%;
    }
  }

  &__heading {
    @include set-heading(2);
  }

  &__subheading {
    @include p-text;

    line-height: var(--cu-reduced-line-height, #{$reduced-line-height});
  }

  /*=============================================
  =            Modifiers            =
  =============================================*/

  /*----------  Promos  ----------*/
  &--promo {
    background: $color-bg-card--medium;

    .cu-card__content {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: flex-start;
      padding: var(--cu-vr2) var(--cu-vr3);
      text-align: center;
    }
  }

  /*----------  Promo with media  ----------*/
  &--promo-with-media {
    @include overlay;

    .cu-card__media {
      position: absolute;
      overflow: hidden;
      max-width: none;
      width: 100%;
      height: 100%;
      z-index: 1;

      :first-child {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .cu-card__content {
      color: white;
      position: relative;
      z-index: 3;
    }
  }

  /*----------  Pinned ----------*/
  &--pinned {
    .cu-card__content {
      justify-content: flex-end;

      :first-child {
        margin-bottom: auto; // Align to the top of the flex column (e.g. justify-self)
      }
    }
  }

  /*----------  Centered content  ----------*/
  &--centered {
    .cu-card__content {
      text-align: center;
      justify-content: center;
      padding: var(--cu-vr1);
    }
  }

  /*----------  Light background  ----------*/
  &--light {
    background: $color-bg-card--light;
  }

  /*----------  Rounded corners  ----------*/
  &--rounded {
    border-radius: 2px;
  }

  /*----------  Highlight  ----------*/
  &--highlight {
    transition: 0.15s all ease;
    position: relative;

    .cu-card__heading {
      font-size: var(--cu-ms2);
      font-weight: 400;
    }

    .cu-card__content {
      z-index: 2;
      text-align: center;
      justify-content: center;
      padding: var(--cu-vr1);

      p {
        font-size: var(--cu-ms-1);
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $white;
      transform-origin: 50% 50%;
      transition: all .18s;
      z-index: 1;
      border-radius: 2px;
    }

    &:hover, &-active {
      color: white;

      .cu-icon {
        fill: $white;
      }

      a {
        color: $white;
        text-decoration: underline;
      }

      &::before {
        transform: scaleY(1.3);
        background: $cornell-red;
      }
    }
  }

  &--hover-overlay {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .cu-card__content,
    .cu-card__media {
      grid-row: 1;
      grid-column: 1;
      color: white;
    }

    .cu-card__media {
      margin: 0;
      z-index: 1;
    }

    .cu-card__content {
      background: rgba(179, 27, 27, 0.75);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: var(--cu-vr2);
    }

    &:hover {
      .cu-card__content {
        z-index: 2;
      }
    }
  }

  /*----------  Portrait (2 rows tall)  ----------*/
  &--portrait {
    grid-row-start: span 2; // Must be part of a grid
  }

  /*----------  Landscape (span all columns)  ----------*/
  &--landscape {
    grid-column: 1 / -1; // Must be part of a grid
  }
  /*=====  End of Modifiers  ======*/
}
