.cu-card {
  background: var(--cu-card-background, transparent);
  border-radius: var(--cu-card-border-radius);
  display: flex;
  flex-direction: column;
  /*=============================================
  =            Modifiers            =
  =============================================*/
  /*----------  Promos  ----------*/
  /*----------  Promo with media  ----------*/
  /*----------  Pinned ----------*/
  /*----------  Centered content  ----------*/
  /*----------  Icon  ----------*/
  /*----------  Portrait (2 rows tall)  ----------*/
  /*----------  Landscape (span all columns)  ----------*/
  /*=====  End of Modifiers  ======*/ }
  .cu-card__content {
    order: 2; }
  .cu-card__media {
    order: 1;
    margin-bottom: var(--cu-vr0); }
    .cu-card__media .cu-image, .cu-card__media .cu-video {
      width: 100%; }
    .cu-card__media .cu-card__media-link {
      display: block; }
  .cu-card__heading {
    --cu-current-font-size: var(--cu-text-xxl);
    --cu-current-line-height: var(--cu-heading-line-height);
    --cu-current-font-weight: var(--cu-heading-font-weight);
    --cu-font-family: var(--cu-heading-font-family); }
  .cu-card__subheading {
    --cu-current-font-size: var(--cu-text-reg);
    --cu-current-line-height: var(--cu-reduced-line-height, 1.2);
    --cu-current-font-weight: var(--cu-font-weight); }
  .cu-card--promo .cu-card__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--cu-vr2) var(--cu-vr3);
    text-align: center; }
  .cu-card--promo-with-media {
    position: relative; }
    .cu-card--promo-with-media::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(85, 85, 85, 0.5);
      z-index: 2; }
    .cu-card--promo-with-media .cu-card__media {
      position: absolute;
      overflow: hidden;
      max-width: none;
      width: 100%;
      height: 100%;
      z-index: 1; }
      .cu-card--promo-with-media .cu-card__media > :first-child {
        object-fit: cover;
        width: 100%;
        height: 100%; }
    .cu-card--promo-with-media .cu-card__content {
      color: white;
      position: relative;
      z-index: 3; }
    .cu-card--promo-with-media .cu-card__fact-list {
      list-style-type: none;
      padding: 0; }
      @media (min-width: 64rem) {
        .cu-card--promo-with-media .cu-card__fact-list {
          display: flex;
          justify-content: space-between;
          align-items: stretch; } }
    .cu-card--promo-with-media .cu-card__fact {
      --cu-current-font-size: var(--cu-text-lg);
      padding: var(--cu-vr0);
      border-bottom: 2px solid rgba(255, 255, 255, 0.2); }
      .cu-card--promo-with-media .cu-card__fact:last-child {
        border: none; }
      @media (min-width: 64rem) {
        .cu-card--promo-with-media .cu-card__fact {
          border-bottom: none;
          border-right: 2px solid rgba(255, 255, 255, 0.2);
          padding: 0 var(--cu-vr2); } }
      .cu-card--promo-with-media .cu-card__fact-label {
        --cu-current-font-size: var(--cu-text-reg);
        --cu-current-font-weight: 300;
        display: block; }
  .cu-card--pinned .cu-card__content {
    justify-content: flex-end; }
    .cu-card--pinned .cu-card__content > :first-child {
      margin-bottom: auto; }
  .cu-card--centered .cu-card__content {
    text-align: center;
    justify-content: center;
    padding: var(--cu-vr1); }
  .cu-card--icon {
    padding: 0 var(--cu-ps0);
    --cu-card-border-radius: 3px; }
  .cu-card--hover-overlay {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
    .cu-card--hover-overlay .cu-card__content,
    .cu-card--hover-overlay .cu-card__media {
      grid-row: 1;
      grid-column: 1;
      color: white; }
    .cu-card--hover-overlay .cu-card__media {
      margin: 0;
      z-index: 1; }
    .cu-card--hover-overlay .cu-card__content {
      background: var(--cu-card-content-background);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: var(--cu-vr2); }
    .cu-card--hover-overlay:hover .cu-card__content {
      z-index: 2; }
  .cu-card--portrait {
    grid-row-start: span 2; }
  .cu-card--landscape {
    grid-column: 1 / -1; }
/*# sourceMappingURL=card.css.map */
