<h3>Highlight grid</h3>

{% set rendered_cards = '' %}
{% for card in global.card.highlights.cards %}
  {% set rendered_content %}
    <div class="cu-card__icon">
      {% include "@union/_icon.twig" with {
        title: card.icon.title,
        icon: card.icon.icon,
        size: card.icon.size
      } only %}
    </div>
    {{ card.content }}
  {% endset %}
  {% set rendered_card %}
    {% include '@union/_card.twig' with {
      card_content: rendered_content,
      attributes: card.attributes
    } only %}
  {% endset %}

  {# Concatenate it for the grid #}
  {% set rendered_cards = rendered_cards ~ rendered_card %}
{% endfor %}


<div style="background: #ccc; padding: 3rem;">
  {% include '@union/_grid.twig' with {
    grid_content: rendered_cards,
    attributes: global.card.highlights.grid_attributes
  } %}
</div>
