{#
/**
 * Logo
 *
 * A logo image, with optional width constraints, link, and default wrapper attributes.
 *
 * @var string $logo_src The URL to a PNG, jpeg, svg, etc. image file. Required. For small files, base64 encoded data URIs work well.
 * @var string $logo_width The width of the logo image in px. Defaults to 300.
 * @var string $logo_alt Alt text for the logo image. Defaults to 'Home'.
 * @var string $logo_link URL for the logo link. Defaults to '/'.
 * @var Drupal\Core\Template\Attribute|array $image_attributes Attributes (class, data, etc.) for the image.
 * @var Drupal\Core\Template\Attribute|array $attributes Attributes (class, data, etc.) for the logo wrapper.
 */
#}
{% set image_attributes = union_attributes(image_attributes|default([])) %}
{% set attributes = union_attributes(attributes|default({ class: 'cu-logo--union' })) %}

<div{{ attributes.addClass('cu-logo') }}>
  {% include '@union/_image.twig' with {
    img_link_url: logo_link|default('/'),
    img_src: logo_src,
    img_alt: logo_alt|default('Home'),
    attributes: image_attributes.addClass('cu-logo__image').setAttribute('width', logo_width|default(300))
  } only %}
</div>

