{#
/**
 * Page nav
 *
 * Displays in-page navigation.
 *
 * @var string $heading Optional heading.
 * @var array $items An array of link items, which must have url and text properties.
 * @var Drupal\Core\Template\Attribute|array $attributes Attributes (class, data, etc.) for the component.
 */
#}
{% set attributes = union_attributes(attributes|default([])) %}

<div{{ attributes.addClass(['cu-page-nav']) }}>
  {% if heading %}<h2 class="cu-heading cu-heading--page-nav">{{ heading }}</h2>{% endif %}
  <ul class="cu-page-nav__list">
  {% for item in items %}
    <li class="cu-page-nav__item"><a href="{{ item.url }}" class="cu-page-nav__link"><h4 class="cu-heading cu--accented">{{ item.text }}</h4></a></li>
  {% endfor %}
  </ul>
</div>
