.cu-page-nav {
  margin-top: var(--cu-component-margin-top, var(--cu-vr1));
  width: 100%; }

.cu-heading--page-nav {
  --cu-font-size: var(--cu-ms0);
  --cu-font-weight: bold !important; }

.cu-page-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  gap: var(--cu-ps2);
  flex-direction: column;
  --cu-accent-width: 40%;
  --cu-accent-margin: .25em 0 0 0;
  --cu-accent-color: var(--cu-color-brand, #b31b1b); }
  @media (min-width: 61rem) {
    .cu-page-nav__list {
      flex-direction: row; } }
  .cu-page-nav__list .cu-heading {
    --cu-font-size: var(--cu-ms1);
    max-width: 100%; }

.cu-page-nav__link {
  text-decoration: none; }
