@import './source/global/global';

.cu-topic-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--cu-vr3);
}

.cu-topic-list__content {
  order: 2;
  display: flex;
  flex-direction: column;
}

.cu-topic-list__heading {
  --cu-current-font-size: var(--cu-text-xxl);
  --cu-current-font-weight: 400;
  order: 2;
  position: relative;
  margin-bottom: var(--cu-vr1);
  padding-bottom: var(--cu-vr1);

  &::after {
    content: '';
    display: block;
    width: 100px;
    height: 8px;
    background: var(--cu-color-brand, #{$cornell-red});
    position: absolute;
    bottom: 0;
  }
}

.cu-topic-list__subheading {
  --cu-current-font-size: var(--cu-ms-2);
  --cu-current-font-weight: 700;
  order: 1;
  text-transform: uppercase;
  margin-bottom: var(--cu-vr-2);
}

.cu-topic-list__description {
  order: 3;
  margin-bottom: var(--cu-vr1);
}

.cu-topic-list__link {
  align-self: flex-start;
  order: 4;
}

.cu-topic-list__items {
  order: 5;
  padding: 0;
}

.cu-topic-list__item {
  border-bottom: 1px solid #BABABA;
  min-height: 80px;
  display: flex;
  align-items: stretch;
}

.cu-topic-list__item:last-of-type {
  border: none;
}

.cu-topic-list__item-link {
  --cu-current-link-color: #{$black};
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.cu-topic-list__media {
  order: 1;
}

