@mixin fontFace($family, $src, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url('fonts/#{$src}.woff2') format('woff2'),
    url('fonts/#{$src}.woff') format('woff');

    font-style: $style;
    font-weight: $weight;
  }
}

@include fontFace('Replica', 'lineto-replica-pro-regular');
@include fontFace('Replica', 'lineto-replica-pro-italic', normal, italic);
@include fontFace('Replica', 'lineto-replica-pro-bold', bold);
@include fontFace('Replica', 'lineto-replica-pro-bolditalic', bold, italic);
@include fontFace('Replica', 'lineto-replica-pro-light', 300);
@include fontFace('Replica', 'lineto-replica-pro-lightitalic', 300, italic);

body {
  font-family:
    var(--cu-font-primary, "Replica"),
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}
