@import './source/global/global';

/*----------  CSS Variables  ----------*/
:root {
  --cu-font-family: var(--cu-base-font-family, #{$base-font-family});
  --cu-font-weight: var(--cu-base-font-weight, #{$base-font-weight});
  --cu-line-height: var(--cu-base-line-height, #{$base-line-height});
  --cu-font-weight: var(--cu-base-font-weight, #{$base-font-weight});
  --cu-heading-font-weight: var(--cu-base-heading-font-weight, #{$base-heading-font-weight});
  --cu-heading-line-height: var(--cu-base-heading-line-height, #{$base-heading-line-height});
  --cu-heading-font-family: var(--cu-base-heading-font-family, #{$base-heading-font-family});
  --cu-font-size-percentage: var(--cu-base-font-size-percentage, #{$base-font-size-percentage});
  --cu-text-color: #{$color-text};
  --cu-color-text--light: #{$color-text--light};
  --cu-current-text-color: #{$color-text};
  --cu-text-xxxl: var(--cu-ms6);
  --cu-text-xxl: var(--cu-ms5);
  --cu-text-xl: var(--cu-ms4);
  --cu-text-lg: var(--cu-ms3);
  --cu-text-med: var(--cu-ms2);
  --cu-text-reg: var(--cu-ms0);

  @include breakpoint(md) {
    --cu-font-size-percentage: 113%;
    --cu-ms-ratio: var(--minor-third);
    --cu-current-line-height: 1.6;
  }
}


html {
  font-size: var(--cu-font-size-percentage);
  line-height: var(--cu-line-height);
  font-weight: var(--cu-font-weight);
}

[class*='cu-'] {
  font-size: var(--cu-current-font-size, inherit);
  font-weight: var(--cu-current-font-weight, inherit);
  line-height: var(--cu-current-line-height, inherit);

  /*----------  Tag-based styles  ----------*/
  p {
    margin-top: 0;
  }

  a {
    text-decoration: none;
    color: var(--cu-current-link-color, #{$color-link});

    &.underlined {
      text-decoration: underline;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: var(--cu-current-heading-size, inherit);
}

.cu-heading {
  --cu-current-line-height: var(--cu-heading-line-height, #{$base-heading-line-height});
  --cu-current-font-weight: var(--cu-heading-font-weight);
  margin-top: 0;
  font-size: var(--cu-current-heading-size, inherit);

  &::after {
    content: '';
    display: block;
    width: var(--cu-header-accent-width);
    max-width: 100%;
    padding: var(--cu-header-accent-padding);
    border-bottom: var(--cu-header-accent-border);
    transition: width ease-in .25s;
  }

  &:hover::after {
    width: var(--cu-header-accent-width-hover, calc(var(--cu-header-accent-width) * 2));
  }
}

/*----------  Class-based sizing  ----------*/
[class*='cu-text'] {
  font-family: var(--cu-font-family);
  font-weight: var(--cu-font-weight);
  line-height: var(--cu-line-height);
  font-size: var(--font-size);
}

[class*='cu-text--x'] {
  --cu-font-family: var(--cu-heading-font-family);
  --cu-font-weight: var(--cu-heading-font-weight);
  --cu-line-height: var(--cu-heading-line-height);
  --cu-font-size: var(--cu-current-heading-size);
  font-size: var(--cu-current-heading-size);
}

h1, .cu-text--xxxl {
  --cu-current-heading-size: var(--cu-text-xxxl);
}

h2, .cu-text--xxl {
  --cu-current-heading-size: var(--cu-text-xxl);
}

h3, .cu-text--xl {
  --cu-current-heading-size: var(--cu-text-xl);
}

h4, .cu-text--lg {
  --cu-current-heading-size: var(--cu-text-lg);
}

.cu-text--md {
  --cu-current-heading-size: var(--cu-text-med);
}

.cu-text--reg {
  font-size: var(--cu-base-font-size);
}

.cu-text--sm,
small {
  font-size: var(--cu-ms-1);
}

.cu-text--xs {
  font-size: var(--cu-ms-2);
}

.cu-heading--small {
  --cu-current-heading-size: var(--cu-ms0);
  --cu-current-font-weight: bold !important;
}

.cu-heading--strong {
  font-family: 'futura-pt';
  text-transform: uppercase;
  font-size: var(--cu-ms3);
  --cu-current-line-height: 1;

  @include breakpoint(sm) {
    font-size: var(--cu-ms7);
    --cu-current-line-height: 1.6;
  }

  span {
    color: $color-brand;
  }
}

.cu-section {
  max-width: var(--cu-max-width-section, #{$max-width-section});
  margin: 0 auto var(--cu-vr3);

  &--wide {
    max-width: 100%;
  }
}

.cu-text--2col {
  display: grid;
  grid-column-gap: var(--cu-ps3);
  grid-template-columns: 1fr 1fr;
}

.cu-section-pad {
  border: none;
  height: var(--cu-vr3);
}

span.strong {
  font-weight: bold;
}

span.block {
  display: block;
}
