{% set wrapper_attributes = {
  class: 'cu-logo cu-logo--ilr-lockup'
} %}

<div {{ union_attributes(wrapper_attributes) }}>
{{ source(union_file('patterns/skins/ilr/images/ilr-cornell-lockup.svg')) }}
</div>
