.cu-form {
  summary {
    margin-bottom: $form-element-margin-bottom;
  }
}

.cu-fieldset {
  margin-bottom: 1rem;
  padding: 1rem 1rem 0.5rem;
}

.cu-input-list__item {
  padding: $form-element-padding-y $form-element-padding-x;
  margin-bottom: var(--cu-vr-2);

  &--label-hidden {
    label {
      @include visually-hidden;
    }
  }

  &--radio,
  &--checkbox {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0 0 var(--cu-ms0);

    .cu-label {
      order: 2;
      margin-left: 0.5em;
      padding-bottom: 0;
    }

    .cu-input {
      margin-bottom: 0;
    }
  }
}

.cu-label {
  display: block;
  padding-bottom: 0.4rem;
  margin-left: 1px;
}

.cu-label--required::after,
.cu-legend .form-required::after {
  content: '*';
  color: $color-alert;
  font-weight: bold;
  font-size: 80%;
  display: inline-block;
  margin-left: 0.25em;
  vertical-align: super;
}

// Float label specific
// @see https: //github.com/tonystar/float-label-css
.cu-input-list__item.has-float-label:not(.js-disabled) {
  display: block;
  position: relative;

  .cu-label {
    position: absolute;
    left: $form-input-padding-x;
    top: calc(#{$form-element-padding-y} * #{$float-label-offset-multiplier} + #{$form-input-padding-y});
    cursor: text;
    transition: all .2s;
    z-index: 10;
    color: var(--cu-color-text-disabled, lighten($black, 40%));
    line-height: 1;
    user-select: none;
  }

  &.is-active,
  &.is-filled {
    label {
      top: 6px;
      left: 3px;
      font-size: 75%;
    }
  }
}

/*=============================================
=            Checkbuttons            =
=============================================*/

.cu-checkbutton {
  &__label {
    border: 2px solid $color-border;
    border-radius: 1px;
    padding-top: 0.25rem;
    display: flex;
    background: white;
    position: relative;
    min-width: 200px;
    margin: 1rem 0;

    .cu-checkbutton__indicator {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: sans-serif;
      order: 1;
      text-align: center;
      flex-basis: 25%;
      color: $color-border;

      &::before {
        position: absolute;
        content: '';
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
        border: 1px solid $black;
      }

      // Hide if the button is disabled
      .cu-checkbutton--disabled & {
        &:hover {
          &::before {
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0;
            top: 0;
            width: 100%;
            padding: 1rem;
            height: 100%;
            background: white;
            border: none;
            border-radius: 0;
            color: $black;
            content: attr(data-message);
          }
        }

        &::before {
          border-color: var(--cu-color-text-disabled, lighten($gray-medium, 25%));
        }

        &::after {
          content: '\00D7';
          border: none;

          /* mouse, touch pad */
          @media (hover: hover) and (pointer: fine) {
            content: '?';
          }
        }
      }
    }

    .cu-checkbutton__content {
      order: 2;
      flex-basis: 75%;
      padding: var(--cu-ps-1) var(--cu-ps-1) var(--cu-ps-1) 0;

      * {
        margin: 0;
      }

      .cu-button {
        margin-top: var(--cu-vr0);
      }
    }
  }

  .cu-input:checked+.cu-checkbutton__label {
    border: 2px solid $cornell-red;
    box-shadow: 0px 0px 0px 3px $cornell-red;

    .cu-checkbutton__indicator:after {
      content: '';
      /*Make a small rectangle so the border will create an L-shape*/
      width: 9px;
      height: 18px;
      margin-top: -3px;
      /*Use a border to create an 'L' */
      border: solid $black;
      border-width: 0 2px 2px 0;
      /*Rotate the L 45 degrees to turn it into a checkmark*/
      transform: rotate(45deg);
    }
  }

  &--disabled {
    .cu-checkbutton__label {
      border: 2px solid rgba(black, .1);
      background: $color-bg--lightest;
      color: var(--cu-color-text-disabled, $gray-dark);

      .message {
        color: var(--cu-text-color);
      }

      &::before {
        text-decoration: none;
      }
    }
  }
}

/*=====  End of Checkbuttons  ======*/
