<header class="cu-header">
{% include '@union/_ilr-lockup.twig' with {
  logo_src: '../../images/ilr-cornell-lockup.svg'
} %}
<nav class="cu-menu cu-menu--main">
  <ul class="cu-menu__list">
    <li class="cu-menu__item"><a class="cu-menu__link" href="#">About ILR</a></li>
    <li class="cu-menu__item cu-menu__item--active"><a class="cu-menu__link" href="#">Programs &amp; Admissions</a></li>
    <li class="cu-menu__item"><a class="cu-menu__link" href="#">Student Experience</a></li>
    <li class="cu-menu__item"><a class="cu-menu__link" href="#">Faculty &amp; Research</a></li>
    <li class="cu-menu__item"><a class="cu-menu__link" href="#">Public Engagement</a></li>
    <li class="cu-menu__item"><a class="cu-menu__link" href="#">Alumni</a></li>
  </ul>
</nav>
</header>
