{{ attach_library('union_organizer/highlight-box') }}
{% set attributes = union_attributes(attributes|default([])) %}
{% set attributes = attributes.addClass(['cu-highlight-box']) %}
{% set content_attributes = union_attributes(content_attributes|default([])) %}
{% set content_attributes = content_attributes.addClass(['cu-highlight-box__content']) %}

<div{{ attributes }}>
  <div{{ content_attributes }}>{{ content }}</div>
</div>
