@import './global/global';

.cu-call-to-action {
  position: relative;
  padding: var(--cu-vr1) var(--cu-ps1);
  
  @include breakpoint(sm) {
    padding: var(--cu-vr1) var(--cu-ps2);
  }

  @include breakpoint(md) {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--cu-ps2);
    align-items: start;
    padding: var(--cu-vr2) var(--cu-ps3);
    max-width: var(--cu-max-width-section, #{$max-width-section});
    margin: 0 auto;
  }
}

.cu-call-to-action__heading-wrapper {
  margin-bottom: var(--cu-vr1);

  @include breakpoint(md) {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

.cu-call-to-action__heading {
  margin: 0;
  font-family: 'futura-pt', sans-serif;
  font-size: var(--cu-ms3);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-wrap: balance;

  @include breakpoint(md) {
    font-size: 67px;
    line-height: 76px;
    max-width: 550px;
  }
}

.cu-call-to-action__content {
  @include breakpoint(md) {
    padding-left: var(--cu-ps2);
    border-left: 4px solid var(--cu-text-color, #{$white});
  }
}

.cu-call-to-action__text {
  margin-bottom: var(--cu-vr1);
  font-size: var(--cu-ms-1);
  line-height: 1.5;

  @include breakpoint(md) {
    font-size: var(--cu-ms0);
    line-height: 1.6;
  }

  p {
    margin: 0 0 var(--cu-vr0) 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cu-call-to-action__button {
  margin: 0;
}

/*=============================================
=            Centered variation               =
=============================================*/
.cu-call-to-action--centered {
  @include breakpoint(md) {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .cu-call-to-action__heading-wrapper {
    @include breakpoint(md) {
      margin-bottom: var(--cu-vr1);
    }
  }

  .cu-call-to-action__content {
    @include breakpoint(md) {
      border-left: none;
      padding-left: 0;
    }
  }

  .cu-call-to-action__button {
    display: inline-block;
  }
}
/*=====  End of Centered variation  ======*/

/*=============================================
=            Mission Statement (No Heading)   =
=============================================*/
// When there's no heading, display as mission statement style
.cu-call-to-action:not(:has(.cu-call-to-action__heading-wrapper)) {
  @include breakpoint(md) {
    position: relative;
    display: block;
    padding: var(--cu-vr3) var(--cu-ps3);
    padding-left: var(--cu-ps2);
    border-left: 16px solid #{$cornell-red};
  }

  // L-shaped border with partial bottom width
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 16px;
    background-color: #{$cornell-red};

    @include breakpoint(md) {
      display: block;
    }
  }

  // White borders for non-vibrant color schemes
  &.cu-colorscheme--light,
  &.cu-colorscheme--dark {
    @include breakpoint(md) {
      border-left-color: #{$cornell-red};
    }

    &::after {
      background-color: #{$cornell-red};
    }
  }

  .cu-call-to-action__content {
    @include breakpoint(md) {
      display: flex;
      align-items: flex-end;
      gap: var(--cu-ps3);
      padding-left: 0;
      border-left: none;
    }
  }

  .cu-call-to-action__text {
    @include breakpoint(md) {
      flex: 1;
      font-family: 'Freight Text Pro', Georgia, serif;
      font-size: var(--cu-ms3);
      line-height: 1.3;
      margin-bottom: 0;
    }

    @include breakpoint(lg) {
      font-size: var(--cu-ms4);
    }
  }

  .cu-call-to-action__button {
    @include breakpoint(md) {
      flex-shrink: 0;
      align-self: flex-end;
    }
  }
}
/*=====  End of Mission Statement  ======*/
