{# See individual twig files for implementation details #}
<h2>Letterbox Banner</h2>
{% include "@union/announcement-banner.twig" %}

<h2>Video Banners</h2>
{% include "@union/video-banner.twig" %}
{% include "@union/video-banner-backgrounded.twig" %}
