@import './source/global/global';

.cu-person {
  --cu-current-font-weight: 300;

  &--thumb {
    display: grid;
    grid-row-gap: var(--cu-vr-1);
    grid-column-gap: var(--cu-vr0);
    grid-template-columns: 1fr 2fr;

    .cu-person__image {
      order: 1;
      grid-row: span 2;
      overflow: hidden;

      .cu-image {
        border-radius: 50%;
      }
    }

    .cu-person__titles {
      order: 3;
      grid-row: 2;
      grid-column: 2;
      margin: 0;
      list-style: none;
      padding: 0;
    }

    .cu-person__title:not(:last-child) {
      margin-bottom: var(--cu-vr0);
    }

    .cu-person__name {
      --cu-current-font-size: var(--cu-text-xxl);
      order: 2;
      grid-row: 1;
      grid-column: 2;
      margin: 0;
    }

    .cu-person__content {
      --cu-current-font-size: var(--cu-ms-1);
      order: 4;
      grid-column: 1 / -1;
    }
  }
}

.cu-grid--people {
  grid-column-gap: var(--cu-vr2);
  align-items: start;
}
