{{ attach_library('union_organizer/course-finder') }}
{% set attributes = union_attributes(attributes|default([])) %}

<div{{ attributes.addClass(['cu-course-finder']) }}>
  <div class="cu-course-finder__content">
    {% if heading %}
      <h2 class="cu-heading">{{ heading }}</h2>
    {% endif %}

    <div class="cu-course-finder__topics-list">
      <span class="cu-course-finder__label">- Choose a topic -</span>
      <a href="#" class="cu-course-finder__trigger">&#9660;</a>
      {{ content }}
    </div>

    <form class="cu-course-finder__search" action="/programs/professional-programs/search" method="get">
      <input class="cu-course-finder__search__input" type="text" name="s" placeholder="Search" />
      <input class="cu-course-finder__search__input" type="submit" value="Find" />
    </form>
  </div>
</div>
