@import './source/global/global';
@import '../button/button-mixins';

.cu-course-finder {
  position: relative;
  z-index: 2; // Position above banner content
  background: var(--cu-color-brand);
  color: var(--cu-color-text--light);
  padding: var(--cu-vr1) var(--cu-ps1);
  margin-bottom: var(--cu-vr1);

  @include breakpoint(md) {
    padding: var(--cu-vr2) var(--cu-ps3);
  }

  &__content {
    margin: 0 auto;
    max-width: var(--cu-max-width-section, #{$max-width-section});
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint(md) {
      flex-direction: row;
      align-items: center;
    }

    & .cu-heading {
      @include breakpoint(md) {
        margin: 0 var(--cu-vr2) 0 0;
      }
    }
  }

  &__topics-list {
    z-index: 10;
    position: relative;
    margin: 0 0 var(--cu-vr1) 0;
    background: white;
    height: 3rem;
    width: 100%;
    overflow: hidden;

    &:hover {
      overflow: visible;
    }

    @include breakpoint(md) {
      width: 300px;
      margin: 0 var(--cu-ps1) 0 0;
    }

    &.topics-list--expanded {
      overflow: visible;

      .cu-course-finder__trigger {
        transform: rotate(180deg);
      }
    }

    // Temporary display for course finder while better solution built
    .views-element-container > div {
      background: white;
      box-shadow: 0px 5px 16px 0 rgba(0, 0, 0, 0.05);
      padding: 0 0 var(--cu-vr1) 0;
      display: grid;

      @include breakpoint(md) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: var(--cu-vr1) var(--cu-ps2);
        width: 250%;
        margin-left: -75%;
      }
    }

    a {
      --cu-current-link-color: var(--cu-text-color);
      display: block;
      background: white;
      min-height: 3rem;
      padding: 1em;
      line-height: 1;

      &:hover {
        --cu-current-link-color: var(--cu-color-brand);
      }
    }
  }

  .cu-course-finder__label {
    display: block;
    line-height: 1;
    padding: var(--cu-vr0);
    color: $color-text--medium;
  }

  .cu-course-finder__trigger {
    position: absolute;
    top: 0;
    right: 0;
    color: $color-text--medium;
    border: none;
    background: transparent;
    min-height: 3rem;
    transition-duration: 0.25s;
    transition-property: transform;

    @include breakpoint(md) {
      display: none;
    }
  }

  .cu-course-finder__search {
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include breakpoint(md) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    input[type="text"] {
      margin-bottom: var(--cu-vr1);

      @include breakpoint(md) {
        margin-bottom: 0;
      }
    }

    input[type="submit"] {
      @include cu-button--light;

      margin: 0;
      align-self: flex-start;

      @include breakpoint(md) {
        margin-left: var(--cu-ps1);
      }
    }
  }

  .cu-course-finder__search__input {
    height: 3rem;
    padding: 0 var(--cu-ps1);
    border: none;
  }
}
