
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <script src="../../js/union.js?{{ cacheBuster }}"></script>
  <script type="text/javascript">
    <!--//--><![CDATA[//><!--
    try{Typekit.load();}catch(e){}
    //--><!]]>
  </script>
  <script src="http://localhost:35778/livereload.js"></script>
  </body>
</html>
