
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <script src="../../js/union.js?{{ cacheBuster }}"></script>
  <script>
    let body = document.getElementsByTagName('body')[0];
    let js = document.createElement('script');
    js.type = 'text/javascript';

    if (window.location.hostname === 'localhost') {
      js.src = 'http://localhost:35778/livereload.js';
      body.appendChild(js);
    }
  </script>
  </body>
</html>
