@import './global/global';

.cu-testimonial {
  container-type: inline-size;

  &[class*="cu-colorscheme--"] {
    padding: var(--cu-vr1) var(--cu-ps1);
  }
}

.cu-testimonial__inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--cu-vr1);
  align-items: center;
  justify-items: center;
}

@container (min-width: 500px) {
  .cu-testimonial:has(.cu-testimonial__media) .cu-testimonial__inner {
    grid-template-columns: 1fr 1.5fr;
    gap: var(--cu-vr2);
  }
}

.cu-testimonial__content {
  align-self: center;
  order: 2;
  position: relative;
  text-align: center;
  max-width: 45rem;

  .cu-testimonial--with-media & {
    text-align: left;
    padding-top: var(--cu-vr2);

    @include breakpoint(md) {
      grid-column: 4;
    }

    &::before {
      content: '';
      display: block;
      width: 100px;
      height: 8px;
      background: var(--cu-colorscheme-accent);
      position: absolute;
      top: 0;
    }
  }
}

.cu-testimonial__quote {
  --cu-font-size: var(--cu-ms4);
  --cu-font-weight: 600;
  --cu-line-height: 1.3;
  --cu-font-family: "freight-text-pro", serif;
  margin-bottom: var(--cu-vr1);
  margin-top: -.5rem;
}

.cu-testimonial:has(.cu-testimonial__media) .cu-testimonial__quote  {
  --cu-font-weight: 400;
  --cu-line-height: 1.2;
}

@container (min-width: 500px) {
  .cu-testimonial__quote {
    margin-top: revert;
  }
}

.cu-testimonial__attribution {
  --cu-font-size: var(--cu-ms-4);
  --cu-font-weight: 700;
  opacity: .75;
  letter-spacing: 0.1em;
  line-height: 1.3;
  text-transform: uppercase;
}

.cu-testimonial__media {
  order: 1;

  img, video {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 6 / 5;
  }
}

@container (min-width: 500px) {
  .cu-testimonial__media {
    img, video {
      aspect-ratio: unset;
    }
  }
}

.cu-testimonial:has(.cu-testimonial__media) > .cu-testimonial__inner::after {
  content: '';
  display: block;
  height: 10px;
  width: 80px;
  background-color: var(--cu-colorscheme-accent);
  order: 1;
  // justify-self: start;
}

@container (min-width: 500px) {
  .cu-testimonial:has(.cu-testimonial__media) > .cu-testimonial__inner::after {
    display: none;
  }
}
