@import './global/global';

.cu-testimonial {
  padding: var(--cu-vr0) var(--cu-vr0);
  display: flex;
  flex-direction: column;
  gap: var(--cu-vr1);

  @include breakpoint(md) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 50%;
    padding: 0;
    gap: var(--cu-vr3);
  }
}

.cu-testimonial__content {
  align-self: center;
  order: 2;
  position: relative;
  padding-top: var(--cu-vr2);

  @include breakpoint(md) {
    grid-column: 4;
  }

  &::before {
    content: '';
    display: block;
    width: 100px;
    height: 8px;
    background: var(--cu-color-brand, #{$cornell-red});
    position: absolute;
    top: 0;
  }
}

.cu-testimonial__quote {
  --cu-current-font-size: var(--cu-text-xl);
  --cu-current-font-weight: 600;
  font-family: 'FreightText Pro';
  margin-bottom: var(--cu-vr1);
}

.cu-testimonial__name,
.cu-testimonial__title {
  --cu-current-font-size: var(--cu-ms-1);
  --cu-current-font-weight: 700;
  line-height: 20px;
  color: #6C6C6C;
  text-transform: uppercase;
}

.cu-testimonial__media {
  order: 1;
  grid-column: 1 / 4;
}




